In [1]:

# 필요라이브러리 로딩
import pymysql
import numpy as np
import pandas as pd
import seaborn as sns  # 시각화 라이브러리, matplotlib보다 단순함
import matplotlib.pyplot as plt
import plotly.io as pio
import plotly.express as px 
plt.rcParams['font.family'] = 'Malgun Gothic'
import warnings
warnings.filterwarnings('ignore')
pd.options.display.float_format = '{:.0f}'.format
pd.set_option('display.max_rows', 200)
import pandas as pd 
import chardet
import sys
import matplotlib
from argparse import Namespace
import os
from tqdm import tqdm
from tqdm.autonotebook import tqdm
tqdm.pandas()

In [2]:
# 로컬 라이브러리 
from hotel import final_hotel_data_processor
from room  import load_room_data
hotel= final_hotel_data_processor()
room= load_room_data()

In [3]:
# 버젼확인 
print("Python 버전:", sys.version)
print("NumPy 버전:", np.__version__)
print("Pandas 버전:", pd.__version__)
print("Matplotlib 버전:", matplotlib.__version__)
print("Seaborn 버전:", sns.__version__)

Python 버전: 3.9.19 (main, Mar 21 2024, 17:21:27) [MSC v.1916 64 bit (AMD64)]
NumPy 버전: 1.26.4
Pandas 버전: 2.2.2
Matplotlib 버전: 3.8.4
Seaborn 버전: 0.12.2

In [4]:
args = Namespace(
    raw_data= './raw_data/',
    output_dir='./raw_data/block/',
    output_price_processed = './raw_data/price_procssed/'
)

# 2년 이상의 시계열 데이터를 가지고 있는 호텔 리스트 로드

## 배경

* 당사의 정책 및 환경상 가격데이터를 꾸준히 적재한 케이스가 드물다
* 본 사업의 목적은 MAPE 10%이하의 고수준의 모델을 만드는것이 목표이므로
* 최대한 데이터 보존율이 높은 세트를 선별해야하는 작업이 필요하다 

## 산출로직
* 호텔별로 월별 평균가를 산출한다
* 적어도 하나의 가격이 있다면 유효값이 도출된다
* 이를 기준으로 2022-01~2023-12-31 까지 24개의 시계열 데이터포인트에 대해서 결측값이 없는 호텔만 모았다

In [14]:
serial=pd.read_excel(args.raw_data+"hotel_list_has_2year_serial.xlsx", index_col=0)

In [15]:
serial

      hotel_id       hotel_name region hoteLgrade     업태구분명
0          101            아르반호텔     부산        미등급    숙박업 기타
1          102       솔라리아니시테츠부산     부산        미등급      일반호텔
2          104         부산비즈니스호텔     부산         3성     관광호텔업
3          105          스탠포드인부산     부산         3성     관광호텔업
4          106        크라운하버호텔부산     부산        미등급      일반호텔
...        ...              ...    ...        ...       ...
1334      1669      브라운도트호텔울산삼산     울산         1성     관광호텔업
1339      1674        켄싱턴리조트서귀포     제주        미등급  휴양콘도미니엄업
1341      1676  소노벨비발디파크bc구오크파인     강원        미등급       미분류
1343      1678          휘닉스평창호텔     강원         4성     관광호텔업
1345      1680      가평마이다스호텔리조트     경기        미등급      일반호텔

[226 rows x 5 columns]

In [16]:
# 메타정보 붙이고 타겟테이블형성
target=hotel[hotel['hotel_id'].isin(serial['hotel_id'])]
target

,hotel_name,road_addr,addr,hotel_id,regino_sigugun,region,lat,lng,hoteLgrade,객실수,호텔규모,업태구분명,market
0,아르반호텔,부산 부산진구 중앙대로691번길 32,부산 부산진구 부전동 517-60,101,부산진구,부산,35,129,미등급,94,100개 미만,숙박업 기타,국내
1,솔라리아니시테츠부산,부산 부산진구 서면로 20,부산 부산진구 부전동 233-16,102,부산진구,부산,35,129,미등급,203,200개 이상,일반호텔,국내
2,부산비즈니스호텔,부산 부산진구 부전로 67,부산 부산진구 부전동 512-4,104,부산진구,부산,35,129,3성,233,200개 이상,관광호텔업,국내
3,스탠포드인부산,부산 중구 구덕로 53,부산 중구 남포동5가 57-1,105,중구,부산,35,129,3성,132,200개 미만,관광호텔업,국내
4,크라운하버호텔부산,부산 중구 중앙대로 114,부산 중구 중앙동4가 83-1,106,중구,부산,35,129,미등급,500,200개 이상,일반호텔,국내
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1472,브라운도트호텔울산삼산,울산 남구 삼산로383번길 6-17,울산 남구 삼산동 216-12,1669,남구,울산,36,129,1성,50,100개 미만,관광호텔업,국내
1477,켄싱턴리조트서귀포,제주특별자치도 서귀포시 이어도로 684,제주특별자치도 서귀포시 강정동 2677,1674,서귀포시,제주,33,126,미등급,246,200개 이상,휴양콘도미니엄업,국내
1479,소노벨비발디파크bc구오크파인,강원 홍천군 서면 한치골길 264,강원 홍천군 서면 팔봉리 1289,1676,홍천군,강원,38,128,미등급,미분류,200개 이상,미분류,국내
1481,휘닉스평창호텔,강원 평창군 봉평면 태기로 174,강원 평창군 봉평면 면온리 1095-1,1678,평창군,강원,38,128,4성,130,200개 미만,관광호텔업,국내
1483,가평마이다스호텔리조트,경기 가평군 청평면 북한강로 2245,경기 가평군 청평면 삼회리 74-1,1680,가평군,경기,0,0,미등급,70,100개 미만,일반호텔,국내

In [20]:
def process_file(file_path, room, hotel):
    df = pd.read_csv(file_path)
    if 'Unnamed: 0' in df.columns:
        df = df.drop('Unnamed: 0', axis=1)
    df = df.rename(columns={'booked_date':'booking_date'})
    
    
    # 메타 정보 리드하기 
    df['booking_date'] = pd.to_datetime(df['booking_date'], errors='coerce')
    df['scanned_date'] = pd.to_datetime(df['scanned_date'], errors='coerce')
    # 월정보 가져오기 (하나만)
    month = df['booking_date'].iloc[0].strftime('%Y-%m')

    print(f"다음은 {month} 가격 데이터 원본에 대한 메타정보입니다.\n\n")
    print("데이터 프레임 레코드 갯수:", format(df.shape[0], ','))
    print("수집된 숙박업체 갯수", format(df['hotel_id'].nunique(), ','))
    print("수집된 객실 갯수:", format(df['room_id'].nunique(), ','))
    print("가장 빠른 날 in booking_date column:", df['booking_date'].min())
    print("가장 빠른 날 in scanned_date column:", df['scanned_date'].min())
    print("가장 늦은 날 in booking_date column:", df['booking_date'].max())
    print("가장 늦은 날 in scanned_date column:", df['scanned_date'].max())
    print("수집된 객실 인벤토리 범위:", format(df['remain'].nunique(), ','))
    print("객실가 최저가 ", format(df['price'].min(), ','))
    print("객실가 최고가 ", format(df['price'].max(), ','))
    print("\n ----------------------------------")
    
    # 데이터 가공
    # 중복 수집 호텔 제거 
    df = df[df['hotel_id'].isin(target['hotel_id'])]
    # 날짜 차이 구하기 
    df['date_diff'] = df['booking_date'] - df['scanned_date']
    # 리드타임 30일 이하 만들기
    df = df[df['date_diff'] < pd.Timedelta(days=31)]
    df['scanned_date_date'] = df['scanned_date'].dt.date

    # OTA정보를 위해 룸테이블 로드
 
    room_ota=room[['room_id', 'hotel_id', 'ota_type']]

    # OTA 정보 업데이트
    df=pd.merge(df, room_ota, how='inner',on=['hotel_id','room_id'] )
    
    #국내 주요 OTA만 남기기 
    domestic=['GOODCHOICE', 'YANOLJA', 'AGODA', 'EXPEDIA',  'BOOKING' ]
    # df 테이블 적용
    df=df[df['ota_type'].isin(domestic)]

    # remian 1 보다 크면 전부다 1로 바꾸기
    df.loc[df['remain'] > 1, 'remain'] = 1
    
    if (df['price'] == 0).any():
        df_price = df.query('price == 0').shape[0]
        df_price_p = round((df_price / df.shape[0]) * 100, 0)

        print(f"전체 행갯수는 {format(df.shape[0], ',')}이고 가격이 0인 칼럼의 갯수는 {format(df_price, ',')}이고 이는 {format(df_price_p, ',')}%입니다.")
        print(f"가격 0 버리기 전: {df.shape}")

        df = df.query('price != 0')
        print(f"가격 0 버리기 후: {df.shape}")
    else:
        print("가격이 0인 행이 존재하지 않습니다.")
        
      # 호텔테이블 로드

    # 지역변수 붙이기
    df=pd.merge(df,hotel[['hotel_id', 'region',]], how='inner',on='hotel_id')
    
      # 상하위 1% 이상치 버리기
    try:
        q_low_by_region = df.groupby('region')['price'].quantile(0.01)
        q_hi_by_region = df.groupby('region')['price'].quantile(0.99)

        print("하위 1% 가격 by region:\n", q_low_by_region)
        print("\n상위 1% 가격 by region:\n", q_hi_by_region)

        # 지역별로 상하위 1% 버리기 
        def filter_quantiles(group):
            q_low = group['price'].quantile(0.01)
            q_hi = group['price'].quantile(0.99)
            return group[(group['price'] > q_low) & (group['price'] < q_hi)]

        print("지역별로 상하위 1% 버리기 before:", df.shape)
        df = df.groupby('region').apply(filter_quantiles).reset_index(drop=True)
        print("지역별로 상하위 1% 버리기 after:", df.shape)

    except Exception as e:
        print("An error occurred during quantile calculation and filtering:", str(e))
    

    return df

In [21]:

# 빈 리스트 만들기
df_stats_list = []

# 베이스 디렉토리 잡아주기
base_dir = 'C:/Users/user/Work/hero_master/price/'

# 서브 디렉터리 루프문 만들기
for root, dirs, files in os.walk(base_dir):
    for directory in dirs:
        
        if directory.startswith(('2022', '2023', '2024')): 
            directory_path = os.path.join(root, directory)
            # 폴더 안에 있는 모든 CSV 파일 넣기
            csv_files = [file for file in os.listdir(directory_path) if file.endswith(".csv")]
            # 반복
            for filename in tqdm(csv_files, desc=f"Processing files in {directory}"):
                try:
                    file_path = os.path.join(directory_path, filename)
                    try:
                        df = process_file(file_path,room, hotel)  # Capture the returned DataFrame
                        df_stats_list.append(df)  # Append the DataFrame to the list
                        print(f'처리완료 {filename} \n\n')
                    except Exception as e:
                        print(f'이슈발생.{filename}: {str(e)}\n\n')
                except Exception as e:
                    print(f'파일 로드 이슈발생.{filename}: {str(e)}\n\n')

# 모든 리스트를 하나로 합쳐서 데이터프레임으로 저장하기
df = pd.concat(df_stats_list, ignore_index=True)

Processing files in 2024_1:  33%|██████████████████▋                                     | 1/3 [00:55<01:50, 55.45s/it]

이슈발생.price_01.csv: Error tokenizing data. C error: Calling read(nbytes) on source failed. Try engine='python'.

Processing files in 2024_1:  67%|█████████████████████████████████████▎                  | 2/3 [00:58<00:24, 24.87s/it]

이슈발생.price_02.csv: Error tokenizing data. C error: Calling read(nbytes) on source failed. Try engine='python'.

Processing files in 2024_1: 100%|████████████████████████████████████████████████████████| 3/3 [00:59<00:00, 19.88s/it]

이슈발생.price_03.csv: Error tokenizing data. C error: Calling read(nbytes) on source failed. Try engine='python'.

ValueError: No objects to concatenate

# 호텔 룸가격데이터 호텔 블록 단위로 나누기

In [34]:
"""# 가격데이터 호텔별로 분산 저장하기 
# 시간 오래 걸리니까 어지간해서는 하지말기 
def append_to_csv(batch, filename):
    # 파일이 없을 경우 헤더와 함께 새 파일을 만들고, 있을 경우 데이터만 추가합니다.
    batch.to_csv(filename, mode='a', index=False, header=not os.path.exists(filename))

# 설정
input_files = [
    f"{args.raw_data}hotel_price_target_2022.csv",
    f"{args.raw_data}hotel_price_target_2023.csv",
    f"{args.raw_data}hotel_price_target_2024_01_03.csv"
]
chunk_size = 50000  # 적절한 청크 사이즈 설정

# 호텔 ID별로 데이터 처리
for file_path in input_files:
    for chunk in tqdm(pd.read_csv(file_path, chunksize=chunk_size)):
        grouped = chunk.groupby('hotel_id')
        for hotel_id, group in grouped:
            output_file = f"{args.output_dir}/hotel_{hotel_id}.csv"
            append_to_csv(group, output_file)"""

0it [00:00, ?it/s]

0it [00:00, ?it/s]

0it [00:00, ?it/s]

# 호텔 가격 데이터 가공

In [5]:
df=pd.read_csv(args.output_dir+'hotel_139.csv', parse_dates=False)

In [6]:
base_dir = args.output_dir
base_dir

'./raw_data/block/'

In [7]:
csv_files= [file for file in os.listdir(base_dir) if file.endswith(".csv")]
csv_files

['hotel_1007.csv',
 'hotel_1008.csv',
 'hotel_101.csv',
 'hotel_102.csv',
 'hotel_1021.csv',
 'hotel_1022.csv',
 'hotel_1025.csv',
 'hotel_1026.csv',
 'hotel_1028.csv',
 'hotel_104.csv',
 'hotel_105.csv',
 'hotel_106.csv',
 'hotel_1060.csv',
 'hotel_1062.csv',
 'hotel_1066.csv',
 'hotel_108.csv',
 'hotel_1083.csv',
 'hotel_1088.csv',
 'hotel_1090.csv',
 'hotel_1095.csv',
 'hotel_112.csv',
 'hotel_1127.csv',
 'hotel_114.csv',
 'hotel_115.csv',
 'hotel_117.csv',
 'hotel_119.csv',
 'hotel_120.csv',
 'hotel_121.csv',
 'hotel_122.csv',
 'hotel_123.csv',
 'hotel_1232.csv',
 'hotel_1235.csv',
 'hotel_124.csv',
 'hotel_1272.csv',
 'hotel_1284.csv',
 'hotel_1294.csv',
 'hotel_1295.csv',
 'hotel_1296.csv',
 'hotel_1297.csv',
 'hotel_1309.csv',
 'hotel_1310.csv',
 'hotel_1311.csv',
 'hotel_1312.csv',
 'hotel_1316.csv',
 'hotel_1336.csv',
 'hotel_1337.csv',
 'hotel_1344.csv',
 'hotel_1346.csv',
 'hotel_1348.csv',
 'hotel_1350.csv',
 'hotel_1357.csv',
 'hotel_1358.csv',
 'hotel_1365.csv',
 'hotel_1367.csv',
 'hotel_1378.csv',
 'hotel_1379.csv',
 'hotel_1381.csv',
 'hotel_1385.csv',
 'hotel_1386.csv',
 'hotel_1387.csv',
 'hotel_139.csv',
 'hotel_1390.csv',
 'hotel_140.csv',
 'hotel_141.csv',
 'hotel_1413.csv',
 'hotel_1414.csv',
 'hotel_142.csv',
 'hotel_1425.csv',
 'hotel_1427.csv',
 'hotel_1428.csv',
 'hotel_1429.csv',
 'hotel_143.csv',
 'hotel_1434.csv',
 'hotel_1435.csv',
 'hotel_1436.csv',
 'hotel_1437.csv',
 'hotel_1438.csv',
 'hotel_1439.csv',
 'hotel_1440.csv',
 'hotel_1441.csv',
 'hotel_1444.csv',
 'hotel_1448.csv',
 'hotel_1449.csv',
 'hotel_1451.csv',
 'hotel_1452.csv',
 'hotel_1455.csv',
 'hotel_1457.csv',
 'hotel_1458.csv',
 'hotel_1459.csv',
 'hotel_1460.csv',
 'hotel_1465.csv',
 'hotel_1468.csv',
 'hotel_147.csv',
 'hotel_1474.csv',
 'hotel_1477.csv',
 'hotel_1478.csv',
 'hotel_1481.csv',
 'hotel_1486.csv',
 'hotel_1487.csv',
 'hotel_1495.csv',
 'hotel_1496.csv',
 'hotel_1499.csv',
 'hotel_150.csv',
 'hotel_1508.csv',
 'hotel_1514.csv',
 'hotel_1530.csv',
 'hotel_1548.csv',
 'hotel_1549.csv',
 'hotel_1556.csv',
 'hotel_1563.csv',
 'hotel_1564.csv',
 'hotel_1571.csv',
 'hotel_1572.csv',
 'hotel_1573.csv',
 'hotel_1574.csv',
 'hotel_1575.csv',
 'hotel_1578.csv',
 'hotel_1618.csv',
 'hotel_1625.csv',
 'hotel_1642.csv',
 'hotel_1669.csv',
 'hotel_1674.csv',
 'hotel_1676.csv',
 'hotel_1678.csv',
 'hotel_1680.csv',
 'hotel_170.csv',
 'hotel_171.csv',
 'hotel_189.csv',
 'hotel_190.csv',
 'hotel_191.csv',
 'hotel_192.csv',
 'hotel_194.csv',
 'hotel_195.csv',
 'hotel_196.csv',
 'hotel_198.csv',
 'hotel_199.csv',
 'hotel_200.csv',
 'hotel_201.csv',
 'hotel_202.csv',
 'hotel_203.csv',
 'hotel_205.csv',
 'hotel_208.csv',
 'hotel_209.csv',
 'hotel_210.csv',
 'hotel_211.csv',
 'hotel_217.csv',
 'hotel_218.csv',
 'hotel_221.csv',
 'hotel_228.csv',
 'hotel_233.csv',
 'hotel_247.csv',
 'hotel_250.csv',
 'hotel_257.csv',
 'hotel_259.csv',
 'hotel_269.csv',
 'hotel_271.csv',
 'hotel_276.csv',
 'hotel_280.csv',
 'hotel_282.csv',
 'hotel_284.csv',
 'hotel_298.csv',
 'hotel_301.csv',
 'hotel_302.csv',
 'hotel_308.csv',
 'hotel_312.csv',
 'hotel_322.csv',
 'hotel_327.csv',
 'hotel_329.csv',
 'hotel_337.csv',
 'hotel_351.csv',
 'hotel_368.csv',
 'hotel_369.csv',
 'hotel_372.csv',
 'hotel_373.csv',
 'hotel_374.csv',
 'hotel_378.csv',
 'hotel_399.csv',
 'hotel_422.csv',
 'hotel_425.csv',
 'hotel_426.csv',
 'hotel_431.csv',
 'hotel_440.csv',
 'hotel_462.csv',
 'hotel_491.csv',
 'hotel_499.csv',
 'hotel_507.csv',
 'hotel_510.csv',
 'hotel_514.csv',
 'hotel_516.csv',
 'hotel_528.csv',
 'hotel_531.csv',
 'hotel_534.csv',
 'hotel_630.csv',
 'hotel_707.csv',
 'hotel_710.csv',
 'hotel_730.csv',
 'hotel_741.csv',
 'hotel_743.csv',
 'hotel_757.csv',
 'hotel_808.csv',
 'hotel_818.csv',
 'hotel_819.csv',
 'hotel_835.csv',
 'hotel_836.csv',
 'hotel_838.csv',
 'hotel_843.csv',
 'hotel_882.csv',
 'hotel_885.csv',
 'hotel_889.csv',
 'hotel_900.csv',
 'hotel_901.csv',
 'hotel_902.csv',
 'hotel_913.csv',
 'hotel_920.csv',
 'hotel_939.csv',
 'hotel_945.csv',
 'hotel_964.csv',
 'hotel_972.csv',
 'hotel_979.csv',
 'hotel_980.csv']

In [131]:
# 전체루프 돌리기 
tqdm.pandas()

for file in tqdm(csv_files):

    file_path = os.path.join(base_dir, file)
    
    # 호텔별 인스턴스 가져오기 
    df = pd.read_csv(file_path)
    
    # 날짜 데이터 형식변환
    converted_df=process_dates_and_sample(df)
    
    # 리드타임 칼럼 형성 
    converted_df_with_lead = create_lead_time_column(converted_df)
    
    # 종가 데이터 추출 
    filtered_df = Create_end_time_df(converted_df_with_lead)
    
    # 메타 데이터확인 및 인스턴스 생성 
    instance_list=create_instance_list(filtered_df)
    
    # 시계열기간 추출 
    total_days,ground_data_count,start_date, end_date,all_dates=data_range_calculator(filtered_df)
    
    # 유효한 인스턴스 빈 리스트 만들기
    validate_instance_list =[]
    
    # 데이터 보유수준이 기간대비 70% 이상 보유하고 있는 최소 인스턴스 확인
    validated_instance_list, validated_instance_y= data_count_processor(instance_list,filtered_df,ground_data_count)
    
    # 결측 북킹데이트 마킹 
    validated_instance_list_updated, validated_instance_df=get_missing_date(validated_instance_list, filtered_df,all_dates)
    
    # # 북킹 데이트별 missing_date 확인하고 연속으로 missing일대 7일 이하인 인스턴스만 남기기
    validate_df, validated_conse_instance_df=missing_check_list_df(validated_instance_df)
    
    # 처리 데이터 아웃풋
    save_hotel_data(validate_df,args.output_price_processed)
    
    # print
    print('\n')

  0%|          | 0/220 [00:00<?, ?it/s]

room_id
 209761104   2024-03-30
 276328103   2024-02-08
-90904037    2022-04-09
 214462679   2023-12-13
-5696732     2022-04-20
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    287
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 320
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 11
유효 인스턴스 갯수비율: 3.4375000000000004


room_id
 197691187   2023-09-21
 6626949     2022-11-04
 276335021   2024-03-31
 255921011   2023-11-30
-6047393     2022-01-13
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    82
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 636
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'GOODCHOICE' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 8
유효 인스턴스 갯수비율: 1.257861635220126


room_id
 253631012   2023-12-30
-7312925     2022-08-23
 8385        2024-03-31
 347794      2022-10-20
 127926      2022-11-05
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    148
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 196
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'GOODCHOICE' 'EXPEDIA' 'BOOKING' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
 5170       2023-12-11
 3821       2024-03-15
 32299161   2023-04-02
 14905462   2024-01-29
-22097554   2022-08-23
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    281
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 244
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'GOODCHOICE' 'EXPEDIA' 'BOOKING' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 6
유효 인스턴스 갯수비율: 2.459016393442623


room_id
 281054515   2024-03-02
-5813863     2022-03-07
 1489        2023-07-14
 1495        2023-07-31
-5735883     2022-04-10
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    437
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 688
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['EXPEDIA' 'AGODA' 'GOODCHOICE' 'BOOKING' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 19
유효 인스턴스 갯수비율: 2.761627906976744


room_id
 151656736   2023-09-17
-6065683     2022-08-23
-9505099     2022-08-25
 17160       2024-03-31
 26496749    2024-02-29
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    79
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 176
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'EXPEDIA' 'BOOKING' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 5
유효 인스턴스 갯수비율: 2.840909090909091


room_id
139800408   2023-06-30
8060037     2024-01-28
169129766   2023-08-20
329109      2022-08-14
208056258   2023-10-07
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    50
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 816
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 2
유효 인스턴스 갯수비율: 0.24509803921568626


room_id
-91232940    2022-07-31
 1061754     2022-09-30
 202059661   2023-10-31
 159771979   2023-07-29
-57956209    2022-08-25
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    340
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 593
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'EXPEDIA' 'AGODA' 'BOOKING' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 11
유효 인스턴스 갯수비율: 1.854974704890388


room_id
-5743537   2022-08-29
-5660872   2022-04-13
-5776054   2022-08-24
-5686267   2022-04-13
-7227080   2022-07-31
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    188
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 158
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'GOODCHOICE' 'EXPEDIA' 'BOOKING' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 6
유효 인스턴스 갯수비율: 3.79746835443038


room_id
3988   2024-03-15
5489   2023-12-11
5757   2023-12-09
5727   2024-03-30
4146   2022-12-22
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    353
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 292
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['BOOKING' 'GOODCHOICE' 'AGODA' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 15
유효 인스턴스 갯수비율: 5.136986301369863


room_id
 41987      2024-03-31
-25807034   2022-08-23
 384682     2022-07-31
 4416       2024-02-29
 6072       2023-11-20
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    187
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 155
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'GOODCHOICE' 'EXPEDIA' 'BOOKING' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 9
유효 인스턴스 갯수비율: 5.806451612903226


room_id
 202422064   2023-10-15
 127604154   2024-03-31
 171028754   2024-03-31
-7261025     2022-08-25
 267098366   2024-01-14
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    835
-2 days +23:00:00     11
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 399
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'EXPEDIA' 'BOOKING' 'AGODA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 22
유효 인스턴스 갯수비율: 5.513784461152882


room_id
-5694652   2022-05-03
 2566      2024-03-31
-9098888   2023-09-17
 2245      2023-12-11
 1059907   2022-10-31
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    269
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 229
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'EXPEDIA' 'BOOKING' 'AGODA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 3
유효 인스턴스 갯수비율: 1.3100436681222707


room_id
68449396    2023-03-09
142528509   2024-03-14
45569902    2024-03-14
76182324    2023-03-31
46870736    2023-03-10
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    65
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 213
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA' 'GOODCHOICE']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 2
유효 인스턴스 갯수비율: 0.9389671361502347


room_id
-5691256     2022-06-30
 1061812     2022-09-30
 1324        2024-03-16
 236686150   2023-12-30
 22907974    2022-12-10
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    32
Name: count, dtype: int64
종가데이터 형성 중

데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 602
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'EXPEDIA' 'BOOKING' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 15
유효 인스턴스 갯수비율: 2.4916943521594686


room_id
23490       2022-10-21
259900625   2023-12-27
235315101   2023-11-19
38087123    2023-10-03
230221304   2023-12-27
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    618
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 290
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 19
유효 인스턴스 갯수비율: 6.551724137931035


room_id
257549223   2024-02-24
47097143    2023-08-26
244504514   2023-11-25
106032821   2023-09-09
47099288    2023-09-30
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 Series([], Name: count, dtype: int64)
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 78
데이터세트 OTA 갯수: 4
데이터세트 OTA 목록: ['GOODCHOICE' 'EXPEDIA' 'AGODA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-02-25
날짜 범위의 길이 : 786
리드타임 최소: 0
리드타임 최대: 30
해당범위 예약일별 필요시계열 데이터갯수: 24366
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
 166964381   2023-08-20
-5958767     2022-08-25
-5782254     2022-08-25
 166964382   2023-08-20
 25690969    2022-12-27
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    446
-2 days +23:00:00      3
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 213
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['EXPEDIA' 'AGODA' 'BOOKING' 'GOODCHOICE' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 5
유효 인스턴스 갯수비율: 2.3474178403755865


room_id
-5683167     2023-11-19
 47124271    2023-02-10
-127150230   2023-05-13
 19343       2023-08-15
 28679       2024-01-01
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    3
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 145
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'GOODCHOICE' 'EXPEDIA' 'BOOKING' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
 265187721   2024-01-23
-11199886    2022-08-23
 66554091    2024-03-29
 46990463    2023-02-27
 8452        2023-05-14
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    20
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 397
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'BOOKING' 'AGODA' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 5
유효 인스턴스 갯수비율: 1.2594458438287155


room_id
 343         2024-03-14
 1036694     2023-12-07
 35462037    2023-12-09
 220844299   2024-02-15
-5650124     2022-02-04
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    62
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 274
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'EXPEDIA' 'BOOKING' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 27
유효 인스턴스 갯수비율: 9.854014598540147


room_id
 16137      2024-02-27
-7992739    2022-08-23
 47096139   2023-08-05
-6715997    2022-09-22
-8177916    2022-07-31
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    5
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 138
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['BOOKING' 'GOODCHOICE' 'EXPEDIA' 'YANOLJA' 'AGODA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 30
해당범위 예약일별 필요시계열 데이터갯수: 25451
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
 48820607   2023-01-31
 201194     2022-08-20
-12089569   2022-08-22
-7762253    2022-08-24
 293        2023-02-05
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    96
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 118
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'GOODCHOICE' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 9
유효 인스턴스 갯수비율: 7.627118644067797


room_id
 194        2024-03-31
 1060533    2023-02-09
 1035614    2022-05-19
-19538114   2022-08-24
-70444534   2022-08-24
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    157
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 213
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['BOOKING' 'GOODCHOICE' 'EXPEDIA' 'AGODA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 16
유효 인스턴스 갯수비율: 7.511737089201878


room_id
 6622954   2024-01-05
 114       2022-06-30
-5645088   2022-05-05
 6622955   2024-01-05
-5656425   2022-08-25
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    355
-4 days +07:00:00     10
-4 days +01:00:00     10
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 168
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'EXPEDIA' 'AGODA' 'BOOKING' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 10
유효 인스턴스 갯수비율: 5.952380952380952


room_id
 6927229     2023-06-30
 6927237     2023-12-25
 239434454   2024-01-29
-27583419    2022-08-25
-11650226    2022-08-25
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    171
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 231
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'EXPEDIA' 'BOOKING' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-21
날짜 범위의 길이 : 811
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 25952
유효 데이터갯수가 넘은 인스턴스 갯수: 15
유효 인스턴스 갯수비율: 6.493506493506493


room_id
 42         2024-02-29
-12366580   2022-08-25
 1060545    2022-11-01
 181        2023-12-11
 8059082    2024-01-28
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    125
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 85
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'EXPEDIA' 'AGODA' 'BOOKING' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-16
날짜 범위의 길이 : 806
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 25792
유효 데이터갯수가 넘은 인스턴스 갯수: 8
유효 인스턴스 갯수비율: 9.411764705882353


room_id
 267215102   2024-01-29
 88645173    2023-04-20
 145988869   2023-07-13
 23334845    2024-02-29
-7988703     2022-08-25
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    3463
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 647
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['EXPEDIA' 'AGODA' 'GOODCHOICE' 'BOOKING' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 44
유효 인스턴스 갯수비율: 6.800618238021638


room_id
 8055376    2022-11-12
-5782327    2022-05-15
-5752730    2022-09-30
-5755442    2022-09-25
 17107827   2022-11-30
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    690
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 622
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['BOOKING' 'GOODCHOICE' 'AGODA' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272

유효 데이터갯수가 넘은 인스턴스 갯수: 18
유효 인스턴스 갯수비율: 2.8938906752411575


room_id
209559827   2023-10-31
223442585   2024-01-29
4506        2022-09-01
224242380   2024-03-14
7005        2023-12-11
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    483
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 1037
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
 28732158    2022-12-30
 136895253   2023-07-02
-6069234     2022-08-24
-6188478     2022-08-24
 182691288   2023-09-06
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    1131
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 318
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 13
유효 인스턴스 갯수비율: 4.088050314465408


room_id
 272844602   2024-02-27
 272291621   2024-01-22
-85724518    2022-08-20
 258009188   2023-12-26
 275480107   2024-02-06
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    238
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 237
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'EXPEDIA' 'BOOKING' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 3
유효 인스턴스 갯수비율: 1.2658227848101267


room_id
 116078869   2023-05-11
 142183250   2023-07-15
-14749188    2022-08-19
 111849600   2023-12-07
-5704364     2022-05-12
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    1014
-4 days +07:00:00      25
-4 days +01:00:00      25
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 929
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'EXPEDIA' 'BOOKING' 'AGODA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 5
유효 인스턴스 갯수비율: 0.5382131324004306


room_id
 142690061   2023-12-20
 1059565     2022-09-30
 43318732    2023-08-05
-9617667     2022-01-14
-136797760   2022-07-13
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    106
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 295
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'BOOKING' 'EXPEDIA' 'AGODA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 12
유효 인스턴스 갯수비율: 4.067796610169491


room_id
-66360555   2022-08-05
 17952      2023-04-30
 313605     2023-06-01
 28714      2023-05-28
 229460     2022-10-08
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    61
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 119
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['EXPEDIA' 'GOODCHOICE' 'AGODA' 'BOOKING' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
 170452172   2023-08-26
-8800861     2022-05-31
 203185910   2023-10-08
-8649712     2022-06-25
 79998525    2023-04-26
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    35
-2 days +23:00:00     1
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 343
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['EXPEDIA' 'GOODCHOICE' 'AGODA' 'BOOKING' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-01-01
날짜 범위의 길이 : 731
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 23392
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
 42082737   2024-01-21
-8572996    2022-08-23
-5726459    2023-11-17
-91645722   2022-08-23
 20545      2024-01-01
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    22
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 31
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['EXPEDIA' 'GOODCHOICE' 'AGODA' 'BOOKING' 'YANOLJA']
데이터 시작날짜: 2022-01-02
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 820
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26240
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
 127886119   2024-01-05
-91193369    2022-07-29
-7891693     2022-07-30
-91637985    2022-08-21
-6073073     2022-07-29
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    24
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 49
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['EXPEDIA' 'BOOKING' 'GOODCHOICE' 'AGODA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
14488       2022-08-10
310452      2023-12-30
141918414   2023-09-08
65828787    2023-07-28
65712786    2023-04-30
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    42
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 135
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['EXPEDIA' 'GOODCHOICE' 'BOOKING' 'AGODA' 'YANOLJA']
데이터 시작날짜: 2022-01-02
데이터 종료날짜: 2024-01-01
날짜 범위의 길이 : 730
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 23360
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
 208730191   2023-10-31
 95520431    2023-03-27
-5681667     2022-10-21
-5663318     2022-08-23
 283125344   2024-02-25
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    1423
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 386
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'EXPEDIA' 'AGODA' 'BOOKING' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 16
유효 인스턴스 갯수비율: 4.145077720207254


room_id
 121437      2023-10-18
 4871        2024-03-17
 1059142     2022-11-01
 246900647   2024-01-28
-6468699     2022-08-25
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    1528
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 446
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['EXPEDIA' 'GOODCHOICE' 'BOOKING' 'AGODA' 'YANOLJA']
데이터 시작날짜: 2022-01-02
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 820
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26240
유효 데이터갯수가 넘은 인스턴스 갯수: 3
유효 인스턴스 갯수비율: 0.672645739910314


room_id
 257550921   2024-03-14
-5742385     2022-08-23
-5676045     2022-02-09
 225855302   2024-02-29
 208225373   2023-09-27
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    145
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 942
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['BOOKING' 'EXPEDIA' 'AGODA' 'GOODCHOICE' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 8
유효 인스턴스 갯수비율: 0.8492569002123143


room_id
 6680        2023-10-27
 4156        2024-03-14
 206450650   2024-03-31
-91545990    2022-10-26
-12499745    2022-08-23
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    71
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 218
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'EXPEDIA' 'BOOKING' 'AGODA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 3
유효 인스턴스 갯수비율: 1.3761467889908259


room_id
 103125497   2023-04-15
-6222726     2022-06-28
-85373246    2022-08-23
 76401256    2023-02-22
 13566       2024-01-18
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중

다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    10
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 200
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['EXPEDIA' 'GOODCHOICE' 'BOOKING' 'AGODA' 'YANOLJA']
데이터 시작날짜: 2022-01-02
데이터 종료날짜: 2024-01-18
날짜 범위의 길이 : 747
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 23904
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
 208443593   2024-01-19
 6612555     2023-11-16
-6062594     2022-08-23
 222586330   2023-11-13
 41728297    2023-02-28
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    147
-2 days +20:00:00      3
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 333
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['EXPEDIA' 'AGODA' 'GOODCHOICE' 'BOOKING' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 11
유효 인스턴스 갯수비율: 3.303303303303303


room_id
-5763495    2022-03-31
 1067400    2023-10-22
-90881894   2022-09-13
-6178090    2023-12-02
-91024108   2022-08-22
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    4
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 101
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'BOOKING' 'GOODCHOICE' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 4
유효 인스턴스 갯수비율: 3.9603960396039604


room_id
 272181891   2024-02-29
 34956919    2023-08-05
 202616      2024-03-31
-90907016    2022-04-29
-16349266    2023-12-14
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    56
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 224
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['BOOKING' 'AGODA' 'GOODCHOICE' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
6627598     2022-11-30
189920596   2023-09-12
269799590   2024-03-10
183941702   2023-09-03
45498481    2024-01-23
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    350
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 441
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['BOOKING' 'AGODA' 'GOODCHOICE' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 6
유효 인스턴스 갯수비율: 1.3605442176870748


room_id
245203517   2024-01-30
245187411   2024-01-31
278118911   2024-02-29
190117711   2024-01-21
283364298   2024-02-24
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    145
-2 days +23:00:00      2
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 220
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 5
유효 인스턴스 갯수비율: 2.272727272727273


room_id
-6973115    2022-10-06
 41722021   2024-01-09
-91039326   2022-08-23
-6545054    2022-08-22
 17928      2023-05-21
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    6
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 140
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['EXPEDIA' 'GOODCHOICE' 'AGODA' 'BOOKING' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 3
유효 인스턴스 갯수비율: 2.142857142857143


room_id
225634317   2024-01-18
111188151   2023-05-05
6924968     2023-11-23
161908977   2023-08-31
147517023   2023-07-16
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    42
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 592
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'BOOKING' 'AGODA' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 16
유효 인스턴스 갯수비율: 2.7027027027027026


room_id
165447578   2023-07-05
383475      2022-08-11
11796       2023-12-24
257307458   2024-02-29
45392194    2023-02-03
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    6
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 151
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 5
유효 인스턴스 갯수비율: 3.3112582781456954


room_id
 1068183     2022-10-06
 157028541   2023-07-31
 106907143   2023-09-25
-19414192    2023-03-16
 1068156     2022-09-12
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    53
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 228
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'GOODCHOICE' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 5
유효 인스턴스 갯수비율: 2.1929824561403506


room_id
 93966602   2023-05-31
 31805698   2024-02-29
-6466771    2022-08-23
 8500       2024-03-31
 8499       2024-03-31
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    62
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 144
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 7
유효 인스턴스 갯수비율: 4.861111111111112


room_id
 35356249    2024-01-26
-5701715     2022-04-30
-5699655     2022-02-28
 135766885   2023-08-31
-5737904     2022-08-31
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    294
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 414
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 21
유효 인스턴스 갯수비율: 5.072463768115942


room_id
 257282855   2024-03-16
 15174991    2023-01-12
-5696502     2022-02-28
 282958474   2024-02-12
 269995210   2024-02-08
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    40
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 467
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 4
유효 인스턴스 갯수비율: 0.8565310492505354


room_id
-5690658     2022-03-14
 34970534    2023-03-30
 138349973   2023-12-18
 138349962   2023-08-31
 138349965   2024-01-27
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    69
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 141
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 6
유효 인스턴스 갯수비율: 4.25531914893617


room_id
-9886668   2022-07-31
-5983621   2022-02-05
-7235956   2022-08-22
 17557     2024-03-31
 18412     2022-08-16
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    207
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 212
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'GOODCHOICE' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272

유효 데이터갯수가 넘은 인스턴스 갯수: 12
유효 인스턴스 갯수비율: 5.660377358490567


room_id
 34950514    2024-01-29
 89283777    2023-04-01
-19128397    2022-08-23
-6059666     2022-08-23
 127866583   2023-06-17
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    68
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 215
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['BOOKING' 'GOODCHOICE' 'AGODA' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 6
유효 인스턴스 갯수비율: 2.7906976744186047


room_id
 58369988    2023-02-15
-6676975     2022-05-07
 15177041    2024-01-28
 8415        2024-03-31
 278576976   2024-02-14
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    488
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 461
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'BOOKING' 'AGODA' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 18
유효 인스턴스 갯수비율: 3.9045553145336225


room_id
 260597607   2024-02-08
 4064        2022-06-30
 18896313    2024-01-29
-5670552     2022-08-12
 291486324   2024-03-23
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    630
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 354
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'GOODCHOICE' 'EXPEDIA' 'BOOKING' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 27
유효 인스턴스 갯수비율: 7.627118644067797


room_id
188057944   2023-08-31
1066479     2022-10-06
254453806   2024-03-09
14246137    2022-11-25
7441        2022-10-06
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    169
-2 days +23:00:00      2
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 811
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 9
유효 인스턴스 갯수비율: 1.1097410604192355


room_id
-53326308    2022-08-23
 265010688   2024-02-10
 186903917   2023-12-03
 257308185   2024-01-15
 288578978   2024-03-18
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    1252
-2 days +23:00:00      31
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 687
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 37
유효 인스턴스 갯수비율: 5.385735080058224


room_id
 1063724   2022-10-30
 1063721   2022-10-30
-6208431   2022-05-31
 12977     2023-07-02
-6741236   2022-08-23
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    174
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 437
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['BOOKING' 'GOODCHOICE' 'AGODA' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 2
유효 인스턴스 갯수비율: 0.4576659038901602


room_id
 207195656   2024-01-06
 208683036   2023-10-26
-5653171     2022-02-14
-5666546     2022-08-23
 80727000    2023-05-05
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    7
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 139
데이터세트 OTA 갯수: 4
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-07
날짜 범위의 길이 : 797
리드타임 최소: 0
리드타임 최대: 30
해당범위 예약일별 필요시계열 데이터갯수: 24707
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
190692923   2023-08-11
138377702   2024-01-15
156625968   2023-08-28
138377701   2023-07-16
47124132    2023-07-28
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    12
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 92
데이터세트 OTA 갯수: 4
데이터세트 OTA 목록: ['GOODCHOICE' 'EXPEDIA' 'AGODA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-30
날짜 범위의 길이 : 820
리드타임 최소: 0
리드타임 최대: 30
해당범위 예약일별 필요시계열 데이터갯수: 25420
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
80319868    2023-05-31
44559037    2023-02-02
248747771   2024-01-23
191238107   2023-09-15
164686947   2023-12-13
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    23
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 643
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'BOOKING' 'EXPEDIA' 'GOODCHOICE' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 2
유효 인스턴스 갯수비율: 0.3110419906687403


room_id
 115705656   2023-11-06
 1066576     2023-04-29
 11288       2024-01-01
 1066563     2022-10-06
-5976348     2022-08-23
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    3
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 85
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'EXPEDIA' 'YANOLJA' 'BOOKING']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-01-01
날짜 범위의 길이 : 731
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 23392
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
 6753       2023-11-20
 39020690   2023-03-21
-5676860    2022-03-15
 1059450    2022-10-06
-7216586    2022-08-24
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    244
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 469
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'EXPEDIA' 'BOOKING' 'AGODA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 6
유효 인스턴스 갯수비율: 1.279317697228145


room_id
 6958        2023-10-23
 73351424    2023-03-11
 254899835   2023-12-21
 258033918   2024-01-03
-5664459     2022-12-24
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    61
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 162
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'EXPEDIA' 'BOOKING' 'AGODA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
 281894601   2024-02-21
 202776311   2024-01-26
-6118671     2022-08-25
 1040459     2023-12-02
-91837331    2022-08-25
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    68
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 89
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'EXPEDIA' 'BOOKING' 'AGODA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
-8691048     2022-08-23
 232335911   2024-03-14
 193788853   2024-01-27
 75674421    2023-03-11
 138777662   2023-10-26
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    37
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 181
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 1
유효 인스턴스 갯수비율: 0.5524861878453038


room_id
8052332     2022-10-31
7312        2022-10-31
174178488   2024-03-21
177242538   2024-03-31
4287        2024-03-14
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    139
Name: count, dtype: int64
종가데이터 형성 중

데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 181
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'EXPEDIA' 'BOOKING' 'AGODA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 11
유효 인스턴스 갯수비율: 6.077348066298343


room_id
-5666157     2022-02-05
 5933        2024-03-31
 1035952     2023-08-04
 1035530     2024-03-31
 108400944   2024-01-26
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    131
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 167
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'BOOKING' 'GOODCHOICE' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 12
유효 인스턴스 갯수비율: 7.18562874251497


room_id
 8065649     2024-01-24
 283219273   2024-03-13
-13997249    2022-08-23
-5664477     2022-03-21
 258581493   2023-12-27
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    102
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 236
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'EXPEDIA' 'BOOKING' 'AGODA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 30
해당범위 예약일별 필요시계열 데이터갯수: 25451
유효 데이터갯수가 넘은 인스턴스 갯수: 17
유효 인스턴스 갯수비율: 7.203389830508475


room_id
-40160471    2022-03-12
 182983249   2024-01-29
-9324617     2022-05-07
-5689276     2022-04-30
-5654739     2023-08-17
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    90
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 159
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['BOOKING' 'GOODCHOICE' 'EXPEDIA' 'AGODA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 1
유효 인스턴스 갯수비율: 0.628930817610063


room_id
 6273        2023-12-11
-5982548     2022-06-04
 176155263   2023-11-29
 6638        2023-05-02
 8068        2022-10-16
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    344
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 204
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'GOODCHOICE' 'EXPEDIA' 'BOOKING' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 19
유효 인스턴스 갯수비율: 9.313725490196079


room_id
 356845      2022-11-13
-6639733     2022-08-23
-11296475    2022-09-22
 290168616   2024-03-31
 6515        2023-12-09
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    17
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 246
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'GOODCHOICE' 'EXPEDIA' 'BOOKING' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 23
유효 인스턴스 갯수비율: 9.34959349593496


room_id
 1040493     2023-12-27
-5651878     2024-03-15
-5642067     2024-03-15
 224922194   2023-11-02
 13081500    2022-10-28
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    5
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 169
데이터세트 OTA 갯수: 4
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 5
유효 인스턴스 갯수비율: 2.9585798816568047


room_id
-5645264     2022-07-11
-48737418    2022-08-14
 47096091    2024-01-09
 265185175   2024-03-31
 5435        2023-10-26
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    34
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 115
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'EXPEDIA' 'BOOKING' 'GOODCHOICE' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 7
유효 인스턴스 갯수비율: 6.086956521739131


room_id
 3878       2024-03-14
 3875       2023-06-30
 6990747    2024-02-21
-24136467   2022-06-10
 3971       2024-03-14
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    39
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 109
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'GOODCHOICE' 'EXPEDIA' 'BOOKING' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 30
해당범위 예약일별 필요시계열 데이터갯수: 25451
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
-5692250   2022-06-29
 4043      2024-03-16
 6602902   2022-11-01
 4051      2024-03-16
 6925045   2024-01-28
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    331
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 242
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'EXPEDIA' 'GOODCHOICE' 'BOOKING' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 19
유효 인스턴스 갯수비율: 7.851239669421488


room_id
127237514   2023-12-17
56022859    2023-03-16
116414077   2023-06-02
127237518   2023-12-17
35102906    2023-03-31
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    245
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 172
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['EXPEDIA' 'GOODCHOICE' 'AGODA' 'BOOKING' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 10
유효 인스턴스 갯수비율: 5.813953488372093


room_id
-18724077    2022-08-20
 1021837     2022-08-08
 110402335   2023-04-30
 110402332   2023-04-30
 120729390   2023-05-19
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    20
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 113
데이터세트 OTA 갯수: 4
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
 193774790   2023-09-16
 54548694    2024-01-25
-6413814     2022-08-18
 1040562     2023-10-03
-5663842     2022-07-30
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    9
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 55
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'EXPEDIA' 'YANOLJA' 'BOOKING']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-15
날짜 범위의 길이 : 805
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 25760
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
 41937       2024-03-31
 78623717    2023-03-23
 203706602   2023-09-27
-5872301     2022-09-17
 139807247   2023-06-27
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    609
-2 days +23:00:00     17
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 450
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['BOOKING' 'GOODCHOICE' 'AGODA' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 19
유효 인스턴스 갯수비율: 4.222222222222222


room_id
 8061566     2023-05-22
-17390142    2022-08-25
 120722225   2023-05-28
 29431       2024-02-02
-11915384    2022-08-25
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    36
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 77
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 2
유효 인스턴스 갯수비율: 2.5974025974025974

room_id
 166772120   2023-08-10
 40041088    2024-03-31
-42435198    2022-08-20
 11375597    2024-03-14
 220746595   2023-10-31
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    1959
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 1157
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'BOOKING' 'EXPEDIA' 'GOODCHOICE' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 9
유효 인스턴스 갯수비율: 0.7778738115816767


room_id
 84593268    2023-04-27
 253939228   2024-03-31
 253635921   2024-01-01
 234156778   2023-12-05
-94675398    2024-03-04
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    198
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 397
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'EXPEDIA' 'BOOKING' 'YANOLJA' 'GOODCHOICE']
데이터 시작날짜: 2022-01-02
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 820
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26240
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
 6612828     2024-03-31
 31323913    2022-11-27
-9237363     2022-08-22
 121194703   2023-05-23
 138473775   2023-08-28
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    142
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 987
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'EXPEDIA' 'BOOKING' 'AGODA' 'YANOLJA']
데이터 시작날짜: 2022-01-02
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 820
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26240
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
 1033763     2023-12-27
-92430769    2022-08-14
 183337427   2024-02-29
 56462032    2023-04-05
 72309666    2023-03-13
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    32
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 169
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'GOODCHOICE' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-14
날짜 범위의 길이 : 804
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 25728
유효 데이터갯수가 넘은 인스턴스 갯수: 2
유효 인스턴스 갯수비율: 1.183431952662722


room_id
-5661414     2022-06-30
 162317194   2023-08-14
 281059617   2024-03-31
 1670        2023-11-20
 18299127    2022-11-27
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    2814
-2 days +23:00:00       8
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 927
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
 187895973   2024-03-17
 106406297   2023-04-26
-6164694     2022-03-08
 282681119   2024-03-30
 1063770     2022-11-01
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    1134
-2 days +23:00:00       7
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 175
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 12
유효 인스턴스 갯수비율: 6.857142857142858


room_id
-7104774     2022-08-12
-6340263     2022-05-07
 105536736   2023-04-22
 70882035    2023-03-07
 151239715   2023-11-07
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    642
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 628
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'GOODCHOICE' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-01-01
날짜 범위의 길이 : 731
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 23392
유효 데이터갯수가 넘은 인스턴스 갯수: 3
유효 인스턴스 갯수비율: 0.47770700636942676


room_id
 20797       2023-11-22
 112787197   2023-10-05
 311672      2022-07-30
-7473513     2022-06-05
-5794661     2022-06-03
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    495
-2 days +23:00:00      6
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 209
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['BOOKING' 'GOODCHOICE' 'AGODA' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-01-01
날짜 범위의 길이 : 731
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 23392
유효 데이터갯수가 넘은 인스턴스 갯수: 15
유효 인스턴스 갯수비율: 7.177033492822966


room_id
-90897254    2023-11-19
 60213526    2023-02-11
 11602       2022-08-23
-6170938     2022-08-23
 221421824   2023-12-22
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    323
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 633
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'BOOKING' 'GOODCHOICE' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-01-01
날짜 범위의 길이 : 731
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 23392
유효 데이터갯수가 넘은 인스턴스 갯수: 1
유효 인스턴스 갯수비율: 0.1579778830963665


room_id
 233534129   2023-12-31
 143268009   2023-08-20
 113555285   2023-06-28
-5753998     2022-03-14
 143268006   2023-06-30
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    22
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 71
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'GOODCHOICE' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 3
유효 인스턴스 갯수비율: 4.225352112676056


room_id
 6618390     2022-10-21
 8053561     2023-03-21
 262912534   2023-12-16
 218737899   2023-12-31
-5711260     2022-02-28
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    204
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 778
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'BOOKING' 'EXPEDIA' 'AGODA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-01-26
날짜 범위의 길이 : 756
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 24192
유효 데이터갯수가 넘은 인스턴스 갯수: 11
유효 인스턴스 갯수비율: 1.4138817480719794


room_id
-9916248     2022-08-23
 47127413    2023-10-26
 283637360   2024-03-31
 4843        2022-06-30
 225849731   2024-01-21
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    18
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 113
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'BOOKING' 'EXPEDIA' 'AGODA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 30
해당범위 예약일별 필요시계열 데이터갯수: 25451
유효 데이터갯수가 넘은 인스턴스 갯수: 1
유효 인스턴스 갯수비율: 0.8849557522123894


room_id
1035440     2024-03-31
1066007     2022-10-13
29653       2024-03-16
265187470   2024-01-18
1035447     2023-03-29
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    129
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 150
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'EXPEDIA' 'BOOKING' 'AGODA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 15
유효 인스턴스 갯수비율: 10.0


room_id
 18563503    2022-11-05
 280190426   2024-03-31
 262817772   2023-12-20
 202425      2024-03-31
-5899740     2022-08-23
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    334
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 208
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['BOOKING' 'AGODA' 'EXPEDIA' 'GOODCHOICE' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 8
유효 인스턴스 갯수비율: 3.8461538461538463


room_id
 174280776   2024-03-31
 174280784   2023-08-11
-17962867    2022-08-25
 9718        2022-09-22
 191222027   2023-12-14
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중

다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    47
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 453
데이터세트 OTA 갯수: 4
데이터세트 OTA 목록: ['GOODCHOICE' 'BOOKING' 'AGODA' 'EXPEDIA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
 19770       2024-03-31
-67645686    2022-08-20
 205785025   2023-09-29
 240559985   2023-11-24
 1063793     2023-11-26
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    30
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 394
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA' 'GOODCHOICE']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 3
유효 인스턴스 갯수비율: 0.7614213197969544


room_id
 47126456   2024-01-21
 59148572   2023-02-25
-6135615    2022-08-14
 32889197   2023-12-31
 1040636    2022-07-31
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    9
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 43
데이터세트 OTA 갯수: 4
데이터세트 OTA 목록: ['GOODCHOICE' 'EXPEDIA' 'YANOLJA' 'AGODA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-14
날짜 범위의 길이 : 804
리드타임 최소: 0
리드타임 최대: 30
해당범위 예약일별 필요시계열 데이터갯수: 24924
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
 61010531    2023-07-15
 61010529    2023-03-02
 104324052   2023-03-30
 52532       2023-01-31
-6101069     2022-03-14
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    144
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 211
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'EXPEDIA' 'BOOKING' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-01-24
날짜 범위의 길이 : 754
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 24128
유효 데이터갯수가 넘은 인스턴스 갯수: 1
유효 인스턴스 갯수비율: 0.47393364928909953


room_id
1063666     2023-11-23
90666898    2023-04-06
202816669   2023-10-04
6929550     2022-10-28
24178258    2022-11-19
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    572
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 478
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'EXPEDIA' 'BOOKING' 'GOODCHOICE' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-01-01
날짜 범위의 길이 : 731
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 23392
유효 데이터갯수가 넘은 인스턴스 갯수: 4
유효 인스턴스 갯수비율: 0.8368200836820083


room_id
 29594       2023-11-23
 74684970    2023-05-08
-5756781     2022-08-20
 1069315     2022-09-16
 109715913   2023-04-30
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    230
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 214
데이터세트 OTA 갯수: 4
데이터세트 OTA 목록: ['AGODA' 'EXPEDIA' 'BOOKING' 'GOODCHOICE']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-01-01
날짜 범위의 길이 : 731
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 23392
유효 데이터갯수가 넘은 인스턴스 갯수: 14
유효 인스턴스 갯수비율: 6.5420560747663545


room_id
-11686121    2022-07-24
 222625650   2023-10-18
 1066702     2024-03-31
-5687676     2022-01-31
 164706061   2023-11-01
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    107
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 194
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'EXPEDIA' 'BOOKING' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 11
유효 인스턴스 갯수비율: 5.670103092783505


room_id
-5684573     2022-01-02
-5676715     2022-08-20
-6357956     2022-08-22
 108995709   2023-11-18
 108995710   2023-07-31
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    2
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 17
데이터세트 OTA 갯수: 4
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2023-12-31
날짜 범위의 길이 : 730
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 23360
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
 15811934   2022-11-06
-6535500    2022-07-27
-5834953    2022-04-08
 21161      2022-12-20
 41161      2022-06-25
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    1
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 179
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
-5788883     2022-08-23
 27200994    2023-02-23
-5657796     2022-08-17
 85405       2022-07-31
 257273135   2024-03-15
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    59
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 204
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'GOODCHOICE' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 1
유효 인스턴스 갯수비율: 0.49019607843137253


room_id
 13126       2024-01-01
-74517927    2022-03-26
 198690254   2023-12-30
 206459203   2023-10-17
-5685951     2022-02-20
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    91
-2 days +23:00:00     3
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 213
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'BOOKING' 'GOODCHOICE' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-01-01
날짜 범위의 길이 : 731
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 23392
유효 데이터갯수가 넘은 인스턴스 갯수: 2
유효 인스턴스 갯수비율: 0.9389671361502347


room_id
-13010498    2022-08-19
 11644471    2023-08-12
-109740514   2022-06-08
 7038        2024-01-01
 45092220    2023-11-22
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    99
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 252
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['BOOKING' 'GOODCHOICE' 'AGODA' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-01-01
날짜 범위의 길이 : 731
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 23392
유효 데이터갯수가 넘은 인스턴스 갯수: 3
유효 인스턴스 갯수비율: 1.1904761904761905


room_id
 1067022    2023-02-26
 1067019    2023-02-26
-5697756    2022-02-27
 36678811   2023-01-31
 12739      2023-12-22
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    5
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 124
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'BOOKING' 'AGODA' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2023-12-22
날짜 범위의 길이 : 721
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 23072
유효 데이터갯수가 넘은 인스턴스 갯수: 9
유효 인스턴스 갯수비율: 7.258064516129033


room_id
-6689412    2022-08-23
 26564344   2024-01-04
 6612489    2022-11-03
-16009512   2022-08-22
-8913939    2022-10-03
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    48
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 272
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'BOOKING' 'GOODCHOICE' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-01-05
날짜 범위의 길이 : 735
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 23520
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
-28956027    2022-08-22
-6589333     2022-08-23
 120677937   2023-06-01
-91232907    2022-08-23
 208322892   2024-01-04
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    327
-2 days +22:00:00      4
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 287
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'GOODCHOICE' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0

room_id
289957588   2024-03-31
5622        2024-01-23
91703032    2023-03-13
29090062    2023-05-15
34948109    2023-05-29
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    124
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 177
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 3
유효 인스턴스 갯수비율: 1.694915254237288


room_id
 210998599   2023-11-30
 1037484     2023-06-29
 231535849   2024-03-15
 231535854   2024-03-15
-5720086     2022-08-23
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    24
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 131
데이터세트 OTA 갯수: 4
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'BOOKING' 'EXPEDIA']
데이터 시작날짜: 2022-01-04
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 818
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26176
유효 데이터갯수가 넘은 인스턴스 갯수: 1
유효 인스턴스 갯수비율: 0.7633587786259541


room_id
-7644869     2022-08-25
 224349565   2024-01-26
-7813409     2022-08-25
-8283631     2022-08-25
 277844607   2024-01-27
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    145
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 194
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-05
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 817
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26144
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
 56232059   2023-03-24
-5840246    2022-08-25
 6605243    2022-10-31
 308241     2022-08-28
 6602477    2023-09-07
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    1049
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 630
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'GOODCHOICE' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-10
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 812
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 25984
유효 데이터갯수가 넘은 인스턴스 갯수: 1
유효 인스턴스 갯수비율: 0.15873015873015872


room_id
 1069360    2022-09-30
-9109876    2022-07-31
 84736      2023-01-31
 47114411   2024-01-21
-5673754    2022-05-28
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    8
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 96
데이터세트 OTA 갯수: 4
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-25
데이터 종료날짜: 2024-03-14
날짜 범위의 길이 : 780
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 24960
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
120684594   2023-05-22
8056740     2022-10-31
85429093    2023-03-30
16711177    2024-03-16
265080581   2024-01-29
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    1175
-2 days +23:00:00      16
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 623
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'BOOKING' 'GOODCHOICE' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-25
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 797
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 25504
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
 280664749   2024-02-28
 47044401    2023-02-03
-5655236     2022-06-03
-10442931    2022-08-25
 169067234   2023-12-19
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    1131
-2 days +23:00:00      54
-2 days +22:00:00       2
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 1257
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['BOOKING' 'GOODCHOICE' 'AGODA' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-26
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 796
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 25472
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
 172053058   2023-09-22
 246748406   2023-12-22
 116750225   2023-06-02
 54601025    2023-02-28
-22640661    2022-08-25
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    5212
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 2440
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['BOOKING' 'GOODCHOICE' 'AGODA' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-26
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 796
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 25472
유효 데이터갯수가 넘은 인스턴스 갯수: 3
유효 인스턴스 갯수비율: 0.12295081967213116


room_id
-6527658     2022-08-23
 1563        2024-03-17
-7868360     2022-04-13
 227249165   2024-02-27
 137121887   2023-08-07
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    498
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 246
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'BOOKING' 'AGODA' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-26
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 796
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 25472
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
 220737595   2024-02-13
 6928636     2024-01-29
 286623292   2024-03-31
 5897        2023-11-20
-46222446    2022-08-24
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    153
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 163
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'BOOKING' 'GOODCHOICE' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 6
유효 인스턴스 갯수비율: 3.6809815950920246


room_id
 104619239   2023-04-23
 46234012    2023-05-13
-5653092     2022-02-07
 75486960    2023-03-16
 134637934   2023-06-30
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    592
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 528
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['BOOKING' 'AGODA' 'EXPEDIA' 'GOODCHOICE' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 19
유효 인스턴스 갯수비율: 3.5984848484848486


room_id
 96359820    2023-04-20
 187445932   2023-09-13
 107880286   2023-04-30
 124292510   2023-06-11
-5810241     2022-04-06
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    235
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 329
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['BOOKING' 'GOODCHOICE' 'AGODA' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-01-01
날짜 범위의 길이 : 731
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 23392
유효 데이터갯수가 넘은 인스턴스 갯수: 5
유효 인스턴스 갯수비율: 1.5197568389057752


room_id
108410707   2023-04-30
127202348   2023-11-22
147312506   2023-08-29
48927774    2023-02-10
21035       2024-01-01
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    277
-2 days +23:00:00     15
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 341
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-01-01
날짜 범위의 길이 : 731
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 23392
유효 데이터갯수가 넘은 인스턴스 갯수: 2
유효 인스턴스 갯수비율: 0.5865102639296188


room_id
1061065     2022-09-30
124679821   2023-05-18
224225628   2023-11-30
135866793   2023-07-02
286562132   2024-03-30
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    1595
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 1645
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA' 'GOODCHOICE']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
224268202   2024-03-17
84240384    2023-03-27
254289      2022-11-27
268490834   2024-01-28
18816929    2023-11-20
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    3273
Name: count, dtype: int64
종가데이터 형성 중

데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 979
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'GOODCHOICE' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 23
유효 인스턴스 갯수비율: 2.3493360572012256


room_id
-5694533     2022-03-31
 14957       2023-05-15
-5722713     2022-08-21
 209138470   2023-11-29
 1062365     2022-10-03
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 Series([], Name: count, dtype: int64)
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 195
데이터세트 OTA 갯수: 3
데이터세트 OTA 목록: ['GOODCHOICE' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-03
데이터 종료날짜: 2024-03-17
날짜 범위의 길이 : 805
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 25760
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
178064232   2023-08-31
41681233    2023-04-03
169023995   2023-08-21
73466008    2023-03-31
116716495   2023-05-29
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    384
-2 days +23:00:00      8
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 437
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'BOOKING' 'EXPEDIA' 'GOODCHOICE' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-01-01
날짜 범위의 길이 : 731
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 23392
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
 6933420     2023-03-06
-6666151     2022-06-30
 3216        2023-11-20
 91162542    2023-03-02
 274784195   2024-03-24
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    2661
-2 days +23:00:00      21
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 1465
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['BOOKING' 'AGODA' 'GOODCHOICE' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 11
유효 인스턴스 갯수비율: 0.7508532423208191


room_id
6604302     2023-01-29
276613405   2024-03-03
271822864   2024-03-31
257381882   2024-01-05
124175366   2023-08-07
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    1065
-2 days +23:00:00      13
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 1153
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'BOOKING' 'GOODCHOICE' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 11
유효 인스턴스 갯수비율: 0.9540329575021683


room_id
275495557   2024-02-23
20538837    2023-02-28
142145688   2023-07-13
275687298   2024-02-28
115290635   2023-07-20
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    650
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 1803
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
6933661     2023-07-31
127243122   2023-06-30
19806196    2023-02-18
159855196   2023-07-28
172741820   2023-08-31
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    551
-2 days +23:00:00     14
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 858
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'BOOKING' 'AGODA' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-02
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 820
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26240
유효 데이터갯수가 넘은 인스턴스 갯수: 4
유효 인스턴스 갯수비율: 0.4662004662004662


room_id
112167892   2023-06-10
268622406   2024-02-29
17332       2022-12-16
17983917    2022-11-27
23073772    2022-12-22
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    858
-2 days +23:00:00     15
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 795
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 13
유효 인스턴스 갯수비율: 1.6352201257861636


room_id
 96458     2023-05-31
 321477    2022-12-17
 1067531   2022-10-31
 170461    2022-07-14
-5694748   2022-06-30
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    210
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 416
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 14
유효 인스턴스 갯수비율: 3.3653846153846154


room_id
222426167   2023-12-04
257287130   2024-01-06
11248508    2023-01-09
56144705    2023-04-08
26826156    2022-12-23
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    322
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 1240
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
 185125613   2023-08-22
 279286982   2024-03-21
 223602793   2023-12-20
-90900816    2022-08-23
 6876526     2022-10-30
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    145
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 207
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'GOODCHOICE' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 1
유효 인스턴스 갯수비율: 0.4830917874396135


room_id
18246       2022-10-06
119698894   2023-05-21
120097294   2023-05-22
124730994   2023-05-29
147899599   2023-10-12
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    64
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 196
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'BOOKING' 'GOODCHOICE' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 5
유효 인스턴스 갯수비율: 2.5510204081632653


room_id
326039      2023-11-21
262137174   2024-02-02
148525509   2023-08-31
15601999    2022-11-05
326040      2023-11-16
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    1102
-2 days +21:00:00       5
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 464
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'GOODCHOICE' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 16
유효 인스턴스 갯수비율: 3.4482758620689653


room_id
-7622625    2022-08-19
 15632      2022-07-28
 53681766   2024-02-14
 15619      2023-01-31
 7260208    2022-10-07
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    86
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 253
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 2
유효 인스턴스 갯수비율: 0.7905138339920948


room_id
 158270     2022-09-30
 23135076   2022-12-22
-5961359    2022-08-23
 1069194    2023-04-26
 93426718   2023-04-15
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 Series([], Name: count, dtype: int64)
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 91
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2023-12-24
날짜 범위의 길이 : 723
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 23136
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0

room_id
4379        2023-11-20
112912790   2023-11-19
49992296    2023-11-19
209522877   2023-10-31
8260        2024-03-31
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    171
-5 days +14:00:00     25
-5 days +01:00:00     25
-2 days +18:00:00     21
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 664
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['EXPEDIA' 'BOOKING' 'AGODA' 'GOODCHOICE' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 3
유효 인스턴스 갯수비율: 0.4518072289156626


room_id
 47097655   2023-01-31
 55638920   2023-06-26
 55638913   2023-09-19
 6693942    2022-10-31
-8237683    2022-08-23
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    4
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 73
데이터세트 OTA 갯수: 3
데이터세트 OTA 목록: ['EXPEDIA' 'YANOLJA' 'AGODA']
데이터 시작날짜: 2022-07-24
데이터 종료날짜: 2024-01-27
날짜 범위의 길이 : 553
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 17696
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
1069328    2024-02-29
1069339    2022-09-30
1018229    2023-11-01
1069337    2022-09-30
59852223   2023-03-24
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    41
-2 days +18:00:00     5
-5 days +14:00:00     5
-5 days +01:00:00     5
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 67
데이터세트 OTA 갯수: 4
데이터세트 OTA 목록: ['EXPEDIA' 'AGODA' 'GOODCHOICE' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
-5906540     2022-08-23
 42059803    2024-01-21
-6781210     2022-08-21
 106631545   2024-03-08
 224393616   2024-03-04
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 Series([], Name: count, dtype: int64)
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 67
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'BOOKING' 'AGODA' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 4
유효 인스턴스 갯수비율: 5.970149253731343


room_id
 44130       2022-09-30
-112198183   2023-11-28
-5760705     2022-08-23
-10906619    2022-03-04
 261264329   2023-12-25
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    3
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 120
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'BOOKING' 'GOODCHOICE' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 6
유효 인스턴스 갯수비율: 5.0


room_id
-22865926    2022-08-23
 227409915   2023-11-04
 17844580    2022-11-05
 142529459   2023-07-28
-5726771     2022-08-15
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    9
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 637
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'EXPEDIA' 'BOOKING' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
274206840   2024-03-02
120129779   2023-11-19
61596111    2023-01-23
44389422    2023-04-18
104688512   2024-01-23
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    49
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 417
데이터세트 OTA 갯수: 4
데이터세트 OTA 목록: ['AGODA' 'GOODCHOICE' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
-57263845   2022-08-20
-6973565    2022-08-22
 23271      2023-03-31
-6515184    2022-06-22
-53852827   2022-08-22
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    11
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 161
데이터세트 OTA 갯수: 4
데이터세트 OTA 목록: ['AGODA' 'GOODCHOICE' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 30
해당범위 예약일별 필요시계열 데이터갯수: 25451
유효 데이터갯수가 넘은 인스턴스 갯수: 7
유효 인스턴스 갯수비율: 4.3478260869565215


room_id
 1020673    2022-08-16
 1006742    2022-10-09
 8060520    2024-01-29
 1061231    2022-11-01
-12973685   2022-08-22
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    1
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 50
데이터세트 OTA 갯수: 4
데이터세트 OTA 목록: ['AGODA' 'GOODCHOICE' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-02
데이터 종료날짜: 2024-03-17
날짜 범위의 길이 : 806
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 25792
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
47126194    2023-03-17
175723722   2023-12-29
47126191    2023-03-07
141940      2023-12-23
47126201    2023-03-17
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    97
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 192
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['BOOKING' 'AGODA' 'EXPEDIA' 'GOODCHOICE' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 4
유효 인스턴스 갯수비율: 2.083333333333333


room_id
-8520057     2022-08-23
-5707278     2022-05-04
-95877005    2024-03-09
 259995968   2024-01-06
-7553640     2022-08-20
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    15
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 113
데이터세트 OTA 갯수: 4
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-14
날짜 범위의 길이 : 804
리드타임 최소: 0
리드타임 최대: 30
해당범위 예약일별 필요시계열 데이터갯수: 24924
유효 데이터갯수가 넘은 인스턴스 갯수: 4
유효 인스턴스 갯수비율: 3.5398230088495577


room_id
 74781971    2023-06-24
 218310030   2023-10-26
-8444086     2022-08-12
 47124479    2023-12-30
 138448358   2023-12-22
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    116
-2 days +20:00:00      5
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 148
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'EXPEDIA' 'BOOKING' 'AGODA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 5
유효 인스턴스 갯수비율: 3.3783783783783785


room_id
 1035946    2023-10-05
 1035945    2023-10-05
-5651476    2024-02-10
 7615099    2023-12-23
 47096173   2024-01-23
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    17
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 113
데이터세트 OTA 갯수: 4
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 30
해당범위 예약일별 필요시계열 데이터갯수: 25451
유효 데이터갯수가 넘은 인스턴스 갯수: 1
유효 인스턴스 갯수비율: 0.8849557522123894


room_id
 18771531   2023-10-26
-5805101    2022-08-22
 19451      2022-09-23
-8182225    2022-08-23
-5716494    2022-08-23
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    12
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 104
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 6
유효 인스턴스 갯수비율: 5.769230769230769


room_id
 104493290   2024-03-31
-90881677    2022-08-23
 6631031     2024-03-14
-16486453    2022-08-14
 21278       2022-10-17
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    12
Name: count, dtype: int64
종가데이터 형성 중

데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 98
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'EXPEDIA' 'GOODCHOICE' 'BOOKING' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 4
유효 인스턴스 갯수비율: 4.081632653061225


room_id
 103976402   2024-03-29
 131950097   2023-05-31
-9635071     2022-08-23
 116495814   2024-03-14
 1039635     2023-05-12
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 Series([], Name: count, dtype: int64)
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 158
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'EXPEDIA' 'BOOKING' 'AGODA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 30
해당범위 예약일별 필요시계열 데이터갯수: 25451
유효 데이터갯수가 넘은 인스턴스 갯수: 3
유효 인스턴스 갯수비율: 1.89873417721519


room_id
 24435862   2024-03-29
-5694964    2023-05-02
 49651793   2023-07-08
 6528       2024-03-31
 27296373   2022-12-25
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    28
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 856
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'EXPEDIA' 'GOODCHOICE' 'BOOKING' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
-5657335     2022-08-24
-8400609     2022-08-25
 147774069   2024-03-31
-7098027     2022-08-24
 6925221     2023-09-10
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    1226
-2 days +23:00:00       1
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 708
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 11
유효 인스턴스 갯수비율: 1.5536723163841808


room_id
 250962675   2023-12-21
 216671452   2023-10-03
 163891024   2023-08-10
-6451730     2022-03-11
 176113858   2023-08-31
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    265
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 685
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'GOODCHOICE' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 1
유효 인스턴스 갯수비율: 0.145985401459854


room_id
-8269648    2022-05-04
-7199240    2024-03-14
-10159103   2022-08-22
-15894155   2022-06-07
-6399774    2022-05-17
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    2
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 73
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['EXPEDIA' 'BOOKING' 'AGODA' 'GOODCHOICE' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 30
해당범위 예약일별 필요시계열 데이터갯수: 25451
유효 데이터갯수가 넘은 인스턴스 갯수: 1
유효 인스턴스 갯수비율: 1.36986301369863


room_id
-7100612     2022-08-23
 130260603   2024-01-29
 29445737    2023-05-31
-5916938     2022-08-23
 29445741    2023-01-09
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    106
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 169
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 11
유효 인스턴스 갯수비율: 6.508875739644971


room_id
-106644189   2022-03-23
-5652910     2022-06-24
-5657128     2022-08-23
 36784229    2023-05-02
 5291        2024-01-01
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    61
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 150
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'BOOKING' 'EXPEDIA' 'AGODA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 2
유효 인스턴스 갯수비율: 1.3333333333333335


room_id
-6719221     2022-08-23
-91933350    2022-05-01
 47096024    2023-08-05
 224130401   2023-11-14
-91039147    2022-08-22
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    242
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 169
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['EXPEDIA' 'BOOKING' 'AGODA' 'GOODCHOICE' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 8
유효 인스턴스 갯수비율: 4.733727810650888


room_id
-5748275    2022-01-01
 165467     2022-08-02
 75854026   2023-08-22
-90927800   2022-08-22
 18082      2023-08-22
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    7
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 104
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'BOOKING' 'AGODA' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-01-31
날짜 범위의 길이 : 761
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 24352
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
 62038184   2023-02-28
 47129097   2023-06-01
 6716397    2022-10-29
 6716394    2022-10-29
-5680960    2022-02-16
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    52
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 190
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['EXPEDIA' 'GOODCHOICE' 'AGODA' 'BOOKING' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 4
유효 인스턴스 갯수비율: 2.1052631578947367


room_id
 8955747    2024-03-31
 40727932   2024-03-28
-6110843    2022-08-23
 12430      2024-03-31
 24286585   2024-01-29
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    1115
-2 days +23:00:00       6
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 253
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'GOODCHOICE' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 20
유효 인스턴스 갯수비율: 7.905138339920949


room_id
-12153579    2022-09-24
-93301700    2022-09-29
 252028819   2023-11-23
 135531182   2023-12-31
 163658818   2023-10-16
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    19
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 195
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'BOOKING' 'GOODCHOICE' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
 207152790   2024-02-22
 256979196   2023-12-21
 209739123   2023-09-21
-5985010     2022-08-01
 91703948    2023-03-28
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    784
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 306
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'GOODCHOICE' 'EXPEDIA' 'BOOKING' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 9
유효 인스턴스 갯수비율: 2.941176470588235


room_id
 32246      2023-12-10
 11927628   2023-04-08
 17255      2024-02-29
 21051      2024-03-31
-5984091    2022-03-03
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    316
-2 days +23:00:00      1
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 280
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['BOOKING' 'GOODCHOICE' 'AGODA' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272

유효 데이터갯수가 넘은 인스턴스 갯수: 10
유효 인스턴스 갯수비율: 3.571428571428571


room_id
39957       2022-07-22
32165       2023-10-10
19840       2023-10-15
19995       2024-03-29
226762410   2023-11-23
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    10
-2 days +23:00:00     4
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 102
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'BOOKING' 'AGODA' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
 1061113     2022-09-23
 12230426    2022-11-06
 156373972   2024-01-09
 31955       2022-10-04
-9482430     2022-08-23
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    283
-2 days +23:00:00      1
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 1040
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['BOOKING' 'AGODA' 'GOODCHOICE' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 4
유효 인스턴스 갯수비율: 0.38461538461538464


room_id
 22998551    2024-01-28
-6602562     2022-08-20
-45286259    2022-08-20
 259370905   2024-02-29
 154280693   2023-12-28
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    83
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 109
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'EXPEDIA' 'AGODA' 'BOOKING' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 2
유효 인스턴스 갯수비율: 1.834862385321101


room_id
-6917707    2022-08-25
-5730388    2022-07-13
 23619694   2023-03-22
-6700203    2022-02-10
-6367988    2022-02-14
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    1598
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 702
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['BOOKING' 'GOODCHOICE' 'AGODA' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-02
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 820
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26240
유효 데이터갯수가 넘은 인스턴스 갯수: 10
유효 인스턴스 갯수비율: 1.4245014245014245


room_id
 28705      2022-07-26
 20272      2024-03-31
-90928975   2022-08-23
-8133600    2022-08-20
 28752363   2022-12-24
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    23
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 210
데이터세트 OTA 갯수: 4
데이터세트 OTA 목록: ['AGODA' 'GOODCHOICE' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 9
유효 인스턴스 갯수비율: 4.285714285714286


room_id
 6923536     2022-11-27
 190172786   2024-03-17
 11317482    2023-03-05
-30765932    2022-08-25
 241383602   2023-12-21
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    760
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 457
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 6
유효 인스턴스 갯수비율: 1.312910284463895


room_id
118605062   2023-07-14
264267581   2024-01-28
8071198     2023-02-28
161995362   2023-08-31
33687310    2024-01-28
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    1160
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 527
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['BOOKING' 'AGODA' 'EXPEDIA' 'GOODCHOICE' 'YANOLJA']
데이터 시작날짜: 2022-01-02
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 820
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26240
유효 데이터갯수가 넘은 인스턴스 갯수: 1
유효 인스턴스 갯수비율: 0.18975332068311196


room_id
278796372   2024-02-26
272539793   2024-03-17
1062992     2022-12-15
131801249   2023-06-29
257251426   2024-02-15
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    1108
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 906
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'EXPEDIA' 'BOOKING' 'AGODA' 'YANOLJA']
데이터 시작날짜: 2022-01-02
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 820
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26240
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
 65202360    2023-03-26
-7587357     2022-08-23
 128160699   2023-06-03
 108556520   2023-06-10
 131782736   2024-01-01
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    587
-2 days +23:00:00      3
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 756
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'BOOKING' 'AGODA' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-01-01
날짜 범위의 길이 : 731
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 23392
유효 데이터갯수가 넘은 인스턴스 갯수: 4
유효 인스턴스 갯수비율: 0.5291005291005291


room_id
 8062883     2023-03-04
 120276297   2023-05-28
 163639203   2023-08-04
 8851        2024-01-01
-5732230     2022-06-16
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    516
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 564
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'GOODCHOICE' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-01-01
날짜 범위의 길이 : 731
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 23392
유효 데이터갯수가 넘은 인스턴스 갯수: 30
유효 인스턴스 갯수비율: 5.319148936170213


room_id
-6629684     2022-08-24
-27575980    2022-10-13
 222960543   2023-11-21
-11281415    2022-08-23
 138542880   2023-06-20
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    437
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 336
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['BOOKING' 'AGODA' 'GOODCHOICE' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-01-01
날짜 범위의 길이 : 731
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 23392
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
 77868627    2023-05-20
 264001      2023-08-14
 224123523   2023-11-22
 4304938     2022-09-29
-13660298    2022-08-23
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    184
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 536
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['BOOKING' 'GOODCHOICE' 'AGODA' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-01-01
날짜 범위의 길이 : 731
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 23392
유효 데이터갯수가 넘은 인스턴스 갯수: 13
유효 인스턴스 갯수비율: 2.425373134328358


room_id
-6015082     2022-08-25
 210073080   2023-10-03
 13629388    2023-01-11
 17345       2023-06-30
 14942       2022-12-31
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    18
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 213
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'EXPEDIA' 'GOODCHOICE' 'BOOKING' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2023-12-25
날짜 범위의 길이 : 724
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 23168
유효 데이터갯수가 넘은 인스턴스 갯수: 6
유효 인스턴스 갯수비율: 2.8169014084507045


room_id
 263358067   2024-03-17
 13738413    2024-02-28
-91440582    2023-02-10
 210487827   2023-09-21
 74109316    2024-03-29
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    711
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 255
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 4
유효 인스턴스 갯수비율: 1.5686274509803921


room_id
-91161804   2022-08-20
 1069598    2022-11-01
 1069597    2022-11-01
-6630096    2022-07-01
 43464975   2023-01-06
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중

다음의 값들은 리드타임 범위에서 벗어났습니다 :
 Series([], Name: count, dtype: int64)
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 98
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['BOOKING' 'AGODA' 'EXPEDIA' 'GOODCHOICE' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2023-12-25
날짜 범위의 길이 : 724
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 23168
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
 8054350    2024-01-29
 74251944   2024-03-18
-90917900   2022-08-23
 16750      2024-03-16
 16679      2024-03-16
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    152
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 223
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'BOOKING' 'EXPEDIA' 'YANOLJA' 'AGODA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
 15469282   2023-10-03
-6689128    2022-08-23
 31684976   2022-12-29
 94350172   2023-04-14
 31684961   2024-01-28
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    2265
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 693
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 4
유효 인스턴스 갯수비율: 0.5772005772005772


room_id
 17213963   2022-11-14
 33813233   2023-12-25
 14114      2022-12-30
-17800286   2022-08-23
 1066006    2022-10-06
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    2
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 180
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'BOOKING' 'AGODA' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2023-12-25
날짜 범위의 길이 : 724
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 23168
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
 247823486   2023-12-28
 25962561    2022-12-25
-6588674     2022-08-25
 66356689    2023-03-31
 1063452     2022-11-30
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    1091
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 1533
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'GOODCHOICE' 'EXPEDIA' 'BOOKING' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 1
유효 인스턴스 갯수비율: 0.06523157208088715


room_id
 47117964    2023-02-09
 115699215   2023-06-08
-91306337    2022-08-22
-7173451     2022-08-20
 266108      2024-02-11
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    44
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 327
데이터세트 OTA 갯수: 4
데이터세트 OTA 목록: ['AGODA' 'GOODCHOICE' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
-5721752     2022-08-19
 116740158   2023-05-17
-6328315     2022-01-30
-5697103     2022-08-20
 17589       2023-08-20
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 Series([], Name: count, dtype: int64)
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 215
데이터세트 OTA 갯수: 4
데이터세트 OTA 목록: ['EXPEDIA' 'GOODCHOICE' 'AGODA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 30
해당범위 예약일별 필요시계열 데이터갯수: 25451
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
 105370335   2023-06-30
-5735565     2022-08-23
-6472558     2022-08-23
 196675495   2024-03-16
-48533889    2022-02-28
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    5
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 158
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'BOOKING' 'AGODA' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 30
해당범위 예약일별 필요시계열 데이터갯수: 25451
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
 240586719   2024-02-29
-6246486     2022-08-23
 135204031   2023-06-28
 45329       2022-09-19
-5666533     2023-10-26
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    107
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 841
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'EXPEDIA' 'AGODA' 'BOOKING' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 1
유효 인스턴스 갯수비율: 0.11890606420927466


room_id
 15806       2023-05-12
 147874596   2023-08-20
-5694443     2022-03-19
-8897302     2022-08-21
 15807       2024-03-31
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    13
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 132
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['EXPEDIA' 'AGODA' 'BOOKING' 'GOODCHOICE' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
189152151   2023-08-09
234426733   2023-11-30
275054567   2024-03-14
234426734   2024-01-21
202794120   2023-10-31
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 Series([], Name: count, dtype: int64)
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 249
데이터세트 OTA 갯수: 3
데이터세트 OTA 목록: ['EXPEDIA' 'GOODCHOICE' 'YANOLJA']
데이터 시작날짜: 2022-01-02
데이터 종료날짜: 2024-03-14
날짜 범위의 길이 : 803
리드타임 최소: 0
리드타임 최대: 30
해당범위 예약일별 필요시계열 데이터갯수: 24893
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
 8068483     2024-01-29
 263443297   2024-03-31
 8068482     2024-01-29
 1063142     2022-10-31
-10267024    2022-08-25
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    254
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 141
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'GOODCHOICE' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
205223562   2023-10-31
6714321     2022-12-15
46083421    2023-07-20
163634516   2023-07-27
281701772   2024-03-04
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    98
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 437
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'EXPEDIA' 'BOOKING' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
-7230459    2022-11-28
-21295890   2022-08-21
 3449       2023-03-22
 6923748    2023-04-06
-8256233    2023-10-25
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    324
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 417
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'BOOKING' 'AGODA' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
 17156       2022-08-14
 211106377   2023-12-31
-9045123     2022-01-25
-91930174    2022-07-31
 225862158   2023-12-30
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 Series([], Name: count, dtype: int64)
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 29
데이터세트 OTA 갯수: 4
데이터세트 OTA 목록: ['EXPEDIA' 'GOODCHOICE' 'AGODA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-30
날짜 범위의 길이 : 820
리드타임 최소: 0
리드타임 최대: 30
해당범위 예약일별 필요시계열 데이터갯수: 25420
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
 228769     2023-12-23
-6726382    2022-02-01
 47118261   2024-01-21
 47118269   2024-01-21
-6091671    2022-02-01
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중

다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    9
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 140
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['BOOKING' 'GOODCHOICE' 'AGODA' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-17
날짜 범위의 길이 : 807
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 25824
유효 데이터갯수가 넘은 인스턴스 갯수: 4
유효 인스턴스 갯수비율: 2.857142857142857


room_id
189929364   2024-03-31
256930552   2023-12-31
231771757   2023-12-14
254574365   2024-03-13
256930555   2023-12-31
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    6
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 247
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-02
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 820
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26240
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
 8069853     2023-12-25
-5670018     2022-03-31
 93000694    2023-04-17
 1390        2022-11-19
 262131529   2023-12-19
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    544
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 418
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-02
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 820
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26240
유효 데이터갯수가 넘은 인스턴스 갯수: 3
유효 인스턴스 갯수비율: 0.7177033492822966


room_id
 4570       2022-06-29
-40573955   2023-04-05
 8890       2024-01-01
 6606478    2023-12-29
-6706340    2022-08-23
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    474
-2 days +23:00:00     11
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 518
데이터세트 OTA 갯수: 4
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'BOOKING' 'EXPEDIA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-01-01
날짜 범위의 길이 : 731
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 23392
유효 데이터갯수가 넘은 인스턴스 갯수: 2
유효 인스턴스 갯수비율: 0.3861003861003861


room_id
-14289338    2022-08-25
 8460158     2023-01-19
 6791        2024-01-01
 123620494   2023-06-08
 12363266    2023-03-08
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    74
-2 days +22:00:00     1
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 222
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'BOOKING' 'AGODA' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-01-01
날짜 범위의 길이 : 731
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 23392
유효 데이터갯수가 넘은 인스턴스 갯수: 1
유효 인스턴스 갯수비율: 0.45045045045045046


room_id
 136123497   2023-06-25
-6538174     2022-08-23
 136123494   2023-06-02
 11412       2023-06-06
 29586100    2022-11-23
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    225
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 351
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 8
유효 인스턴스 갯수비율: 2.2792022792022792


room_id
-6931887     2022-02-26
 1235        2022-08-25
 1061673     2024-03-30
 210620838   2023-10-20
 87087280    2023-03-28
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    231
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 293
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'GOODCHOICE' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 9
유효 인스턴스 갯수비율: 3.0716723549488054


room_id
 18407       2022-11-28
-92191417    2023-10-16
 1058529     2023-09-07
 267794769   2024-03-31
 1058531     2023-09-07
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    21
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 176
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'GOODCHOICE' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
 147921056   2023-07-10
 6572450     2024-01-01
-19882643    2022-03-01
 3920        2023-11-22
 5442        2022-08-23
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    135
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 201
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-01-01
날짜 범위의 길이 : 731
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 23392
유효 데이터갯수가 넘은 인스턴스 갯수: 4
유효 인스턴스 갯수비율: 1.9900497512437811


room_id
 23966666    2022-11-13
 276111424   2024-03-17
 21698895    2023-04-20
 161154      2022-07-28
-5693508     2022-02-17
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    676
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 586
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'EXPEDIA' 'BOOKING' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 1
유효 인스턴스 갯수비율: 0.17064846416382254


room_id
 34358329    2023-01-04
-9633998     2022-08-25
 152416050   2023-10-11
 202188      2023-01-04
 1060768     2022-08-31
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    1137
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 189
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 5
유효 인스턴스 갯수비율: 2.6455026455026456


room_id
 84384927    2023-09-10
 1061364     2023-02-04
 291261513   2024-03-31
 6933221     2022-12-28
-5720005     2022-08-20
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    1273
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 742
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 33
유효 인스턴스 갯수비율: 4.44743935309973


room_id
 199203442   2023-12-22
 6932727     2023-08-18
 169296      2023-11-20
-5655456     2022-02-28
 246222280   2024-02-29
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    2060
-2 days +23:00:00      20
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 535
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'BOOKING' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 18
유효 인스턴스 갯수비율: 3.364485981308411


room_id
107278      2022-08-31
122969098   2023-08-31
6626767     2022-11-30
144103857   2023-12-10
107277      2022-08-31
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    23
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 329
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['BOOKING' 'AGODA' 'GOODCHOICE' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272
유효 데이터갯수가 넘은 인스턴스 갯수: 4
유효 인스턴스 갯수비율: 1.21580547112462


room_id
322         2024-03-31
186649      2022-08-18
226154023   2023-12-02
280283173   2024-02-29
68359896    2023-05-18
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    57
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 553
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'BOOKING' 'AGODA' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272

유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
-91333083   2022-07-28
-91042982   2022-07-31
-92720391   2022-07-28
-5690623    2022-01-29
-5809657    2022-01-29
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    2
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 52
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['GOODCHOICE' 'AGODA' 'EXPEDIA' 'BOOKING' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 30
해당범위 예약일별 필요시계열 데이터갯수: 25451
유효 데이터갯수가 넘은 인스턴스 갯수: 0
유효 인스턴스 갯수비율: 0.0


room_id
 45821423   2023-01-31
 45821425   2024-01-20
-9402739    2022-08-23
-91021680   2022-02-09
 1040338    2023-03-30
Name: booking_date, dtype: datetime64[ns]
리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    2
Name: count, dtype: int64
종가데이터 형성 중
데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 33
데이터세트 OTA 갯수: 3
데이터세트 OTA 목록: ['GOODCHOICE' 'EXPEDIA' 'YANOLJA']
데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-14
날짜 범위의 길이 : 804
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 25728
유효 데이터갯수가 넘은 인스턴스 갯수: 1
유효 인스턴스 갯수비율: 3.0303030303030303

## 날짜데이터 형식변환

In [9]:
def process_dates_and_sample(df):
    """
    날짜 관련 컬럼을 변환하고, 각 room_id에 대한 최대 booking_date를 샘플링합니다.
    
    Args:
    df (pd.DataFrame): 처리할 데이터 프레임. booking_date, scanned_date,
                       scanned_date_date, date_diff 컬럼을 포함해야 합니다.
                       
    Returns:
    pd.Series: 각 room_id 별로 최대 booking_date의 샘플.
    """
    print("날짜데이터 형식변환 중")
    # 날짜 형식 변환
    df['booking_date'] = pd.to_datetime(df['booking_date'], yearfirst=True)
    df['scanned_date'] = pd.to_datetime(df['scanned_date'], yearfirst=True)
    df['scanned_date_date'] = pd.to_datetime(df['scanned_date_date'], yearfirst=True)
    
    # 기간 형식 변환
    df['date_diff'] = pd.to_timedelta(df['date_diff'])
    
    # 시간 추출
    df['scanned_date_time'] = df['scanned_date'].dt.time
    
    # 각 room_id에 대한 최대 booking_date 구하고 샘플링
    print(df.groupby("room_id")['booking_date'].max().sample(5))
    return df

In [7]:
df

,hotel_id,room_id,booking_date,scanned_date,remain,price,date_diff,scanned_date_date,ota_type,region
0,139,-5649934,2022-01-01,2022-01-01 01:00:00,1,170000,-1 days +23:00:00,2022-01-01,AGODA,부산
1,139,-5649934,2022-01-01,2022-01-01 19:00:00,1,190000,-1 days +05:00:00,2022-01-01,AGODA,부산
2,139,-5649934,2022-01-01,2022-01-01 23:00:00,1,190000,-1 days +01:00:00,2022-01-01,AGODA,부산
3,139,-5649305,2022-01-01,2022-01-01 01:00:00,1,280000,-1 days +23:00:00,2022-01-01,AGODA,부산
4,139,-5649305,2022-01-01,2022-01-01 23:00:00,1,280000,-1 days +01:00:00,2022-01-01,AGODA,부산
...,...,...,...,...,...,...,...,...,...,...
3280164,139,292584745,2024-03-31,2024-03-27 15:00:00,0,229900,3 days 09:00:00,2024-03-27,AGODA,부산
3280165,139,292584745,2024-03-31,2024-03-27 16:00:00,1,229900,3 days 08:00:00,2024-03-27,AGODA,부산
3280166,139,292584745,2024-03-31,2024-03-27 23:00:00,1,229900,3 days 01:00:00,2024-03-27,AGODA,부산
3280167,139,292584745,2024-03-31,2024-03-28 00:00:00,1,229900,3 days 00:00:00,2024-03-28,AGODA,부산
3280168,139,292584745,2024-03-31,2024-03-28 23:00:00,1,229900,2 days 01:00:00,2024-03-28,AGODA,부산

In [10]:
converted_df=process_dates_and_sample(df)

날짜데이터 형식변환 중
room_id
291486327   2024-03-23
218262446   2023-10-26
31422       2022-08-13
41932       2024-03-31
8601        2024-03-16
Name: booking_date, dtype: datetime64[ns]

## 리드타임 수정
* 이전 전처리 작업은 리드타임 당일부터 30일을 기준으로 만들어 낸 자료이다
* 데이터를 확인한 하니 31일(**30-31days**), 예약일+1**(-2days)** 도 존재하였다
* -1~31까지 33개의 조건과 선택지가 필요하다

In [11]:
def create_lead_time_column(df):
    """
    date_diff 열에 기반하여 lead_time 열을 생성하는 함수.
    
    Args:
    df (pd.DataFrame): 처리할 데이터 프레임. date_diff 컬럼을 포함해야 함.
    
    Returns:
    pd.DataFrame: lead_time 열이 추가된 데이터 프레임.
    """
    print("리드타임 칼럼 형성 중 ")
    # 조건과 선택지 생성
    conditions = [(df['date_diff'].dt.days >= i) & (df['date_diff'].dt.days < i + 1) for i in range(-1, 32)]
    # -1일이상 0일미만 == 0 
    # 0일이상 1인 마만 == 1
    #  ..
    # 30일 이상 31일 == 30.
    choices = [i for i in range(33)]
    
    # lead_time 열 생성
    df['lead_time'] = np.select(conditions, choices, default=np.nan)
    # 널값 행 필터 
    lead_na=df[df['lead_time'].isnull()]
    print("다음의 값들은 리드타임 범위에서 벗어났습니다 :\n",lead_na.date_diff.value_counts())
    
    return df

In [12]:
converted_df_with_lead = create_lead_time_column(converted_df)

리드타임 칼럼 형성 중
다음의 값들은 리드타임 범위에서 벗어났습니다 :
 date_diff
-2 days +01:00:00    630
Name: count, dtype: int64

##  종가데이터 추출

In [13]:
def Create_end_time_df(df):
    # 본함수는 시간이 좀걸림 따로 하는게 좋음
    print("종가데이터 형성 중 ")

    # 그룹화하고 각 그룹별로 scanned_date의 가장 마지막 값을 선택
    result_df = df.groupby(['hotel_id','room_id', 'ota_type', 'booking_date', 'lead_time'], as_index=False)['scanned_date_time'].max()
    # 필터된 행만 inner join으로 남기기
    filtered_df = pd.merge(df, result_df, on=['hotel_id', 'room_id',  'ota_type', 'booking_date', 'lead_time', 'scanned_date_time'])
    filtered_df=pd.merge(filtered_df,hotel[['hotel_id','hotel_name']])
    filtered_df=pd.merge(filtered_df,room[['room_id','room_name']])
    
    # booking_date를 문자열로 변환
    filtered_df['booking_date'] = filtered_df['booking_date'].dt.strftime('%Y-%m-%d')

    return filtered_df

In [14]:
# 종가데이터 추출함수
filtered_df = Create_end_time_df(converted_df_with_lead)
filtered_df

종가데이터 형성 중

,hotel_id,room_id,booking_date,scanned_date,remain,price,date_diff,scanned_date_date,ota_type,region,scanned_date_time,lead_time,hotel_name,room_name
0,139,-5649934,2022-01-01,2022-01-01 23:00:00,1,190000,-1 days +01:00:00,2022-01-01,AGODA,부산,23:00:00,0,아바니센트럴부산,아바니 디럭스 트윈 (AVANI DELUXE Twin)
1,139,-5649305,2022-01-01,2022-01-01 23:00:00,1,280000,-1 days +01:00:00,2022-01-01,AGODA,부산,23:00:00,0,아바니센트럴부산,아바니 스위트+미니바 (Avani Suite + Minibar)
2,139,-5647625,2022-01-01,2022-01-01 23:00:00,1,220000,-1 days +01:00:00,2022-01-01,AGODA,부산,23:00:00,0,아바니센트럴부산,[조식 2인] 아바니 디럭스 트윈 ([Breakfast for 2] Avani De...
3,139,-5645948,2022-01-01,2022-01-01 23:00:00,1,295000,-1 days +01:00:00,2022-01-01,AGODA,부산,23:00:00,0,아바니센트럴부산,[조식 3인] 아바니 패밀리 스위트 ([Breakfast for 3] Avani F...
4,139,-5645428,2022-01-01,2022-01-01 23:00:00,1,280000,-1 days +01:00:00,2022-01-01,AGODA,부산,23:00:00,0,아바니센트럴부산,[조식 2인] 아바니 주니어 스위트 ([Breakfast for 2] Avani J...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1118560,139,292576837,2024-03-31,2024-03-28 23:00:00,1,229900,2 days 01:00:00,2024-03-28,BOOKING,부산,23:00:00,3,아바니센트럴부산,Special Offer - Junior Suite (Casino voucher &...
1118561,139,292576837,2024-03-31,2024-03-29 23:00:00,0,229900,1 days 01:00:00,2024-03-29,BOOKING,부산,23:00:00,2,아바니센트럴부산,Special Offer - Junior Suite (Casino voucher &...
1118562,139,292584745,2024-03-31,2024-03-26 23:00:00,1,229900,4 days 01:00:00,2024-03-26,AGODA,부산,23:00:00,5,아바니센트럴부산,Special Offer - Junior Suite (Casino voucher &...
1118563,139,292584745,2024-03-31,2024-03-27 23:00:00,1,229900,3 days 01:00:00,2024-03-27,AGODA,부산,23:00:00,4,아바니센트럴부산,Special Offer - Junior Suite (Casino voucher &...
1118564,139,292584745,2024-03-31,2024-03-28 23:00:00,1,229900,2 days 01:00:00,2024-03-28,AGODA,부산,23:00:00,3,아바니센트럴부산,Special Offer - Junior Suite (Casino voucher &...

## 인스턴스 생성 및 메타데이터 확인

In [15]:
def create_instance_list(df):
    # 필요한 컬럼만 선택하여 고유한 조합을 포함하는 새 데이터프레임 생성
    selected_columns_df = df[['hotel_id','hotel_name', 'room_id', 'room_name', 'ota_type']].drop_duplicates()
    print("데이터세트 고유 호텔 갯수:", df.hotel_id.nunique())
    print("데이터세트 고유 룸 갯수:", df.room_id.nunique())
    print("데이터세트 OTA 갯수:", df.ota_type.nunique())
    print("데이터세트 OTA 목록:", df.ota_type.unique())
    # 선택된 컬럼들만 포함하는 딕셔너리의 리스트 생성
    instance = selected_columns_df.to_dict('records')

    return instance

In [16]:
# 데이터 범위 계산하기 -- 전체 공통
def data_range_calculator(df):
    start_date =  df.booking_date.min()
    end_date=df.booking_date.max()
    print("데이터 시작날짜:", start_date)
    print("데이터 종료날짜:", end_date)
    # 시작 날짜와 종료 날짜 사이의 날짜 범위 생성
    date_range = pd.date_range(start=start_date, end=end_date)
    all_dates = date_range.strftime('%Y-%m-%d').tolist()
    # 날짜 범위의 길이 계산 (총 날짜 수)
    total_days = len(date_range)
    print("날짜 범위의 길이 :", total_days)

    # 리드타임 길이계산
    lead_min=int(df.lead_time.min())
    lead_max=int(df.lead_time.max())
    print("리드타임 최소:", lead_min)
    print("리드타임 최대:", lead_max)
    ground_data_count = total_days * (lead_min+lead_max+1)# 리드타임 0도 실제로 하나인데 0으로 되면 카운트가 안되서 1추가한다
    print("해당범위 예약일별 필요시계열 데이터갯수:", ground_data_count)  # 우리는 시계열 하나당

    return total_days,ground_data_count, start_date, end_date, all_dates

In [17]:
instance_list=create_instance_list(filtered_df)

데이터세트 고유 호텔 갯수: 1
데이터세트 고유 룸 갯수: 354
데이터세트 OTA 갯수: 5
데이터세트 OTA 목록: ['AGODA' 'GOODCHOICE' 'EXPEDIA' 'BOOKING' 'YANOLJA']

In [18]:
total_days,ground_data_count,start_date, end_date,all_dates=data_range_calculator(filtered_df)

데이터 시작날짜: 2022-01-01
데이터 종료날짜: 2024-03-31
날짜 범위의 길이 : 821
리드타임 최소: 0
리드타임 최대: 31
해당범위 예약일별 필요시계열 데이터갯수: 26272

## 인스턴스 별 보유 데이터 건수로 유효성 확인

In [19]:
# 유효한 인스턴스 빈 리스트 만들기
validate_instance_list =[]

In [20]:
#  보유 데이터 건수로 유효 인스턴스 확인
def data_count_validator(df,instance, ground_data_count):

    instance_df=df[df['room_id']==instance['room_id']]
    raw_data_all_count= instance_df.shape[0]
    data_coverage = (raw_data_all_count/ground_data_count)*100

    if data_coverage >= 70:
        instance['validated'] = "Y"
        instance['data_coverage'] = data_coverage

    else :
        instance['validated'] = "N"
        instance['data_coverage'] = data_coverage

    validate_instance_list.append(instance)

    return instance_df

In [21]:
#  data_count_validator 프로세서 및 리스트 만들기
def  data_count_processor(instance_list, df, ground_data_count):
    validate_instance_list = []

    for instance in instance_list:
        data_count_validator(df, instance, ground_data_count)
        validate_instance_list.append(instance)

    validated_instance_list = pd.DataFrame(validate_instance_list)
    validated_instance_y = validated_instance_list.query("validated=='Y'")
    validate_instance_percentage = (validated_instance_y.shape[0] / len(validate_instance_list)) * 100

    print('유효 데이터갯수가 넘은 인스턴스 갯수:', validated_instance_y.shape[0])
    print('유효 인스턴스 갯수비율:', validate_instance_percentage)

    validated_instance_list_dicts = validated_instance_list.to_dict(orient='records')
    validated_instance_y=validated_instance_y.reset_index(drop=True)



    return validated_instance_list_dicts, validated_instance_y

In [22]:
# 데이터 보유수준이 기간대비 70% 이상 보유하고 있는 최소 인스턴스 확인
validated_instance_list, validated_instance_y= data_count_processor(instance_list,filtered_df,ground_data_count)

유효 데이터갯수가 넘은 인스턴스 갯수: 27
유효 인스턴스 갯수비율: 7.627118644067797

In [23]:
validated_instance_y

,hotel_id,hotel_name,room_id,room_name,ota_type,validated,data_coverage
0,139,아바니센트럴부산,4062,아바니 디럭스 트윈,GOODCHOICE,Y,78
1,139,아바니센트럴부산,4066,아바니 프리미어,GOODCHOICE,Y,84
2,139,아바니센트럴부산,4069,아바니 주니어 스위트,GOODCHOICE,Y,87
3,139,아바니센트럴부산,4070,[2인 조식 패키지] 아바니 프리미어,GOODCHOICE,Y,72
4,139,아바니센트럴부산,4071,아바니 패밀리 스위트,GOODCHOICE,Y,84
5,139,아바니센트럴부산,4073,[2인 조식 패키지] 아바니 주니어 스위트,GOODCHOICE,Y,75
6,139,아바니센트럴부산,4074,아바니 스위트,GOODCHOICE,Y,88
7,139,아바니센트럴부산,4075,[3인 조식 패키지] 아바니 패밀리 스위트,GOODCHOICE,Y,71
8,139,아바니센트럴부산,4077,[S컬렉션] 아바니 스위트 플러스,GOODCHOICE,Y,86
9,139,아바니센트럴부산,5192,프리미어룸 (Avani),EXPEDIA,Y,71
10,139,아바니센트럴부산,5195,주니어 스위트 (Avani),EXPEDIA,Y,73
11,139,아바니센트럴부산,5196,스위트 (Avani),EXPEDIA,Y,72
12,139,아바니센트럴부산,6015,아바니 디럭스 마운틴뷰 트윈룸 (Avani Deluxe Mountain View T...,AGODA,Y,88
13,139,아바니센트럴부산,6016,아바니 디럭스 시티뷰 트윈룸 (Avani Deluxe City View Twin R...,AGODA,Y,89
14,139,아바니센트럴부산,6018,아바니 디럭스 마운틴뷰 킹룸 (Avani Deluxe Mountain View Ki...,AGODA,Y,81
15,139,아바니센트럴부산,6019,아바니 디럭스 시티뷰 킹룸 (Avani Deluxe City View King Room),AGODA,Y,78
16,139,아바니센트럴부산,6022,아바니 주니어룸 (Avani Junior Room),AGODA,Y,94
17,139,아바니센트럴부산,6023,아바니 스위트 (Avani Suite),AGODA,Y,94
18,139,아바니센트럴부산,6636,아바니 프리미어룸 (Avani Premier Room),AGODA,Y,78
19,139,아바니센트럴부산,41928,디럭스 트윈룸 - 산 전망,BOOKING,Y,87
20,139,아바니센트럴부산,41929,디럭스 트윈룸 - 도시 전망,BOOKING,Y,88
21,139,아바니센트럴부산,41930,프리미어 더블룸,BOOKING,Y,92
22,139,아바니센트럴부산,41931,주니어 스위트룸,BOOKING,Y,94
23,139,아바니센트럴부산,41932,스위트룸,BOOKING,Y,94
24,139,아바니센트럴부산,42073,디럭스 킹룸 - 산 전망,BOOKING,Y,81
25,139,아바니센트럴부산,42074,디럭스 킹룸 - 도시 전망,BOOKING,Y,77
26,139,아바니센트럴부산,4076,[2인 조식 패키지] 아바니 스위트,GOODCHOICE,Y,75

## 누락 날짜 확인 및 마킹

In [24]:
# 북킹 데이트 기준 결측 날짜 확인
def get_missing_date(validated_instance_list, df,all_dates):

    updated_instances = []


    for instance in validated_instance_list:
        if instance['validated']== "Y":
            instance_df=df[df['room_id']==instance['room_id']]
            instance_all_booking_date = instance_df['booking_date'].unique().tolist()


            # 누락된 날짜 찾기
            missing_booking_dates = [date for date in all_dates if date not in instance_all_booking_date]

            instance['missing_date']=missing_booking_dates


        else :
            hotel_name = instance['hotel_name']
            room_name = instance['room_name']
            ota_type = instance['ota_type']
            #print(f'{hotel_name}_{room_name}_{ota_type} 유효하지 않습니다')
            instance['missing_date'] = 'X'


        updated_instances.append(instance)
        validated_instance_df=pd.DataFrame(updated_instances).query('validated=="Y"')


    return updated_instances, validated_instance_df

In [25]:
# 결측 북킹데이트 마킹 
validated_instance_list_updated, validated_instance_df=get_missing_date(validated_instance_list, filtered_df,all_dates)

In [26]:
validated_instance_df

,hotel_id,hotel_name,room_id,room_name,ota_type,validated,data_coverage,missing_date
7,139,아바니센트럴부산,4062,아바니 디럭스 트윈,GOODCHOICE,Y,78,"[2022-10-20, 2022-12-03, 2022-12-17, 2022-12-2..."
9,139,아바니센트럴부산,4066,아바니 프리미어,GOODCHOICE,Y,84,"[2022-10-17, 2022-10-18, 2022-10-19, 2022-10-2..."
12,139,아바니센트럴부산,4069,아바니 주니어 스위트,GOODCHOICE,Y,87,"[2023-03-25, 2023-10-07, 2023-10-08, 2023-10-2..."
13,139,아바니센트럴부산,4070,[2인 조식 패키지] 아바니 프리미어,GOODCHOICE,Y,72,"[2022-05-16, 2022-05-17, 2022-05-18, 2022-05-1..."
14,139,아바니센트럴부산,4071,아바니 패밀리 스위트,GOODCHOICE,Y,84,"[2022-08-13, 2022-10-14, 2022-10-15, 2022-12-1..."
15,139,아바니센트럴부산,4073,[2인 조식 패키지] 아바니 주니어 스위트,GOODCHOICE,Y,75,"[2022-05-16, 2022-05-17, 2022-05-18, 2022-05-1..."
16,139,아바니센트럴부산,4074,아바니 스위트,GOODCHOICE,Y,88,"[2022-10-14, 2022-10-15, 2022-12-24, 2023-03-2..."
17,139,아바니센트럴부산,4075,[3인 조식 패키지] 아바니 패밀리 스위트,GOODCHOICE,Y,71,"[2022-05-16, 2022-05-17, 2022-05-18, 2022-05-1..."
18,139,아바니센트럴부산,4077,[S컬렉션] 아바니 스위트 플러스,GOODCHOICE,Y,86,"[2022-07-22, 2022-07-23, 2022-10-01, 2022-10-1..."
23,139,아바니센트럴부산,5192,프리미어룸 (Avani),EXPEDIA,Y,71,"[2023-10-18, 2023-10-19, 2023-10-21, 2023-10-2..."
24,139,아바니센트럴부산,5195,주니어 스위트 (Avani),EXPEDIA,Y,73,"[2023-11-04, 2023-11-09, 2023-12-12, 2023-12-1..."
25,139,아바니센트럴부산,5196,스위트 (Avani),EXPEDIA,Y,72,"[2023-11-03, 2023-11-09, 2023-12-12, 2023-12-1..."
26,139,아바니센트럴부산,6015,아바니 디럭스 마운틴뷰 트윈룸 (Avani Deluxe Mountain View T...,AGODA,Y,88,"[2022-10-24, 2022-10-25, 2022-10-26, 2023-06-2..."
27,139,아바니센트럴부산,6016,아바니 디럭스 시티뷰 트윈룸 (Avani Deluxe City View Twin R...,AGODA,Y,89,"[2022-10-24, 2022-10-25, 2022-10-26]"
28,139,아바니센트럴부산,6018,아바니 디럭스 마운틴뷰 킹룸 (Avani Deluxe Mountain View Ki...,AGODA,Y,81,"[2022-06-27, 2022-06-28, 2022-06-29, 2022-06-3..."
29,139,아바니센트럴부산,6019,아바니 디럭스 시티뷰 킹룸 (Avani Deluxe City View King Room),AGODA,Y,78,"[2022-06-27, 2022-06-28, 2022-06-29, 2022-06-3..."
31,139,아바니센트럴부산,6022,아바니 주니어룸 (Avani Junior Room),AGODA,Y,94,[]
32,139,아바니센트럴부산,6023,아바니 스위트 (Avani Suite),AGODA,Y,94,[]
33,139,아바니센트럴부산,6636,아바니 프리미어룸 (Avani Premier Room),AGODA,Y,78,[2022-07-10]
35,139,아바니센트럴부산,41928,디럭스 트윈룸 - 산 전망,BOOKING,Y,87,"[2022-10-24, 2022-10-25, 2022-10-26, 2023-06-1..."
36,139,아바니센트럴부산,41929,디럭스 트윈룸 - 도시 전망,BOOKING,Y,88,"[2022-10-24, 2022-10-25, 2022-10-26, 2023-06-12]"
37,139,아바니센트럴부산,41930,프리미어 더블룸,BOOKING,Y,92,[]
38,139,아바니센트럴부산,41931,주니어 스위트룸,BOOKING,Y,94,[]
39,139,아바니센트럴부산,41932,스위트룸,BOOKING,Y,94,[]
40,139,아바니센트럴부산,42073,디럭스 킹룸 - 산 전망,BOOKING,Y,81,"[2022-06-27, 2022-06-28, 2022-06-29, 2022-06-3..."
41,139,아바니센트럴부산,42074,디럭스 킹룸 - 도시 전망,BOOKING,Y,77,"[2022-06-27, 2022-06-28, 2022-06-29, 2022-06-3..."
45,139,아바니센트럴부산,4076,[2인 조식 패키지] 아바니 스위트,GOODCHOICE,Y,75,"[2022-01-01, 2022-05-16, 2022-05-17, 2022-05-1..."

In [27]:
# 북킹데이트를 기준으로 연속으로 7일 이상 없는 데이터값 식별하기  1 

def explode_dates_and_combine_names(df, date_col='missing_date', name_cols=('hotel_name', 'room_name')):
    """
    주어진 데이터프레임에서 날짜를 분리하고, 호텔과 방 이름을 결합합니다.
    
    Args:
    df (DataFrame): 처리할 데이터 프레임.
    date_col (str): 분리할 날짜 컬럼 이름.
    name_cols (tuple): 결합할 이름 컬럼들.
    
    Returns:
    DataFrame: 처리된 데이터 프레임.
    """
    df_exploded = df.explode(date_col)
    df_exploded['identifier'] = df_exploded[name_cols[0]] + "_" + df_exploded[name_cols[1]]
    df_exploded[date_col] = pd.to_datetime(df_exploded[date_col])
    df_exploded['missing_date'] = pd.to_datetime(df_exploded['missing_date'])
    
    return df_exploded

In [28]:
# identifier 별로 그룹화하고, 각 그룹 내에서 연속된 날짜의 최대 길이를 계산하는 함수를 적용
def check_consecutive_dates(group):
    # missing_date를 정렬
    sorted_dates = group.sort_values()

    # 연속된 날짜의 길이 계산
    deltas = sorted_dates.diff().dt.days == 1
    consecutive_lengths = deltas.groupby((deltas == False).cumsum()).cumsum()

    # 7일 이상 연속되는 경우가 있는지 확인
    return 'N' if any(consecutive_lengths >= 7) else 'Y'

In [29]:
# 북킹 데이트별 missing_date 확인하고 연속으로 missing일대 7일 이하인 인스턴스만 남기기
def missing_check_list_df(df):
    
    # missing_date 행단위로 펼치기 
    df_exploded = explode_dates_and_combine_names(df)
    
    # missing_date 7일 이상 연속되는 경우가 있는지 확인하기 
    df_exploded['consecutive'] = df_exploded.groupby('identifier')['missing_date'].transform(check_consecutive_dates)
    
    # 원래 데이터 프레임에 붙혀서 식별하기
    validated_conse_instance_df= pd.merge(validated_instance_df,df_exploded[['room_id','consecutive']].drop_duplicates(), how='left', on='room_id')
    validated_conse_instance_df=validated_conse_instance_df.query('consecutive=="Y"')
    
    # 유효 인스터스만 남기기
    validate_df=filtered_df[filtered_df['room_id'].isin(validated_conse_instance_df['room_id'].unique())]
    validate_df=validate_df[['hotel_id','hotel_name','ota_type','room_id','room_name','booking_date','lead_time','remain','price']]
    
    return validate_df, validated_conse_instance_df

In [36]:
# missing_date 행단위로 펼치기 
df_exploded = explode_dates_and_combine_names(validated_instance_df)
    # missing_date 7일 이상 연속되는 경우가 있는지 확인하기 
df_exploded['consecutive'] = df_exploded.groupby('identifier')['missing_date'].transform(check_consecutive_dates)
    
    # 원래 데이터 프레임에 붙혀서 식별하기
validated_conse_instance_df= pd.merge(validated_instance_df,df_exploded[['room_id','consecutive']].drop_duplicates(), how='left', on='room_id')
validated_conse_instance_df=validated_conse_instance_df.query('consecutive=="Y"')

In [40]:
validate_df=filtered_df[filtered_df['room_id'].isin(validated_conse_instance_df['room_id'].unique())]
validate_df=validate_df[['hotel_id','hotel_name','ota_type','room_id','room_name','booking_date','lead_time','remain','price']]

In [41]:
validate_df

,hotel_id,hotel_name,ota_type,room_id,room_name,booking_date,lead_time,remain,price
26,139,아바니센트럴부산,AGODA,6015,아바니 디럭스 마운틴뷰 트윈룸 (Avani Deluxe Mountain View T...,2022-01-01,0,1,169828
27,139,아바니센트럴부산,AGODA,6016,아바니 디럭스 시티뷰 트윈룸 (Avani Deluxe City View Twin R...,2022-01-01,0,1,169828
28,139,아바니센트럴부산,AGODA,6018,아바니 디럭스 마운틴뷰 킹룸 (Avani Deluxe Mountain View Ki...,2022-01-01,0,1,178766
29,139,아바니센트럴부산,AGODA,6019,아바니 디럭스 시티뷰 킹룸 (Avani Deluxe City View King Room),2022-01-01,0,1,188055
31,139,아바니센트럴부산,AGODA,6022,아바니 주니어룸 (Avani Junior Room),2022-01-01,0,1,223875
...,...,...,...,...,...,...,...,...,...
1118501,139,아바니센트럴부산,BOOKING,42074,디럭스 킹룸 - 도시 전망,2024-03-31,4,1,187000
1118502,139,아바니센트럴부산,BOOKING,42074,디럭스 킹룸 - 도시 전망,2024-03-31,3,1,187000
1118503,139,아바니센트럴부산,BOOKING,42074,디럭스 킹룸 - 도시 전망,2024-03-31,2,1,187000
1118504,139,아바니센트럴부산,BOOKING,42074,디럭스 킹룸 - 도시 전망,2024-03-31,1,1,187000
1118505,139,아바니센트럴부산,BOOKING,42074,디럭스 킹룸 - 도시 전망,2024-03-31,0,1,187000

In [43]:
# 필요한것만 남기기
df_exploded=df_exploded[['hotel_id','hotel_name','room_id','room_name','ota_type','missing_date']]
df_exploded

    hotel_id hotel_name  room_id            room_name    ota_type missing_date
7        139   아바니센트럴부산     4062           아바니 디럭스 트윈  GOODCHOICE   2022-10-20
7        139   아바니센트럴부산     4062           아바니 디럭스 트윈  GOODCHOICE   2022-12-03
7        139   아바니센트럴부산     4062           아바니 디럭스 트윈  GOODCHOICE   2022-12-17
7        139   아바니센트럴부산     4062           아바니 디럭스 트윈  GOODCHOICE   2022-12-24
7        139   아바니센트럴부산     4062           아바니 디럭스 트윈  GOODCHOICE   2022-12-30
..       ...        ...      ...                  ...         ...          ...
45       139   아바니센트럴부산     4076  [2인 조식 패키지] 아바니 스위트  GOODCHOICE   2024-03-27
45       139   아바니센트럴부산     4076  [2인 조식 패키지] 아바니 스위트  GOODCHOICE   2024-03-28
45       139   아바니센트럴부산     4076  [2인 조식 패키지] 아바니 스위트  GOODCHOICE   2024-03-29
45       139   아바니센트럴부산     4076  [2인 조식 패키지] 아바니 스위트  GOODCHOICE   2024-03-30
45       139   아바니센트럴부산     4076  [2인 조식 패키지] 아바니 스위트  GOODCHOICE   2024-03-31

[1010 rows x 6 columns]

In [44]:
# remain 칼럼생성 
df_exploded['remain']=1
df_exploded

,hotel_id,hotel_name,room_id,room_name,ota_type,missing_date,remain
7,139,아바니센트럴부산,4062,아바니 디럭스 트윈,GOODCHOICE,2022-10-20,1
7,139,아바니센트럴부산,4062,아바니 디럭스 트윈,GOODCHOICE,2022-12-03,1
7,139,아바니센트럴부산,4062,아바니 디럭스 트윈,GOODCHOICE,2022-12-17,1
7,139,아바니센트럴부산,4062,아바니 디럭스 트윈,GOODCHOICE,2022-12-24,1
7,139,아바니센트럴부산,4062,아바니 디럭스 트윈,GOODCHOICE,2022-12-30,1
...,...,...,...,...,...,...,...
45,139,아바니센트럴부산,4076,[2인 조식 패키지] 아바니 스위트,GOODCHOICE,2024-03-27,1
45,139,아바니센트럴부산,4076,[2인 조식 패키지] 아바니 스위트,GOODCHOICE,2024-03-28,1
45,139,아바니센트럴부산,4076,[2인 조식 패키지] 아바니 스위트,GOODCHOICE,2024-03-29,1
45,139,아바니센트럴부산,4076,[2인 조식 패키지] 아바니 스위트,GOODCHOICE,2024-03-30,1
45,139,아바니센트럴부산,4076,[2인 조식 패키지] 아바니 스위트,GOODCHOICE,2024-03-31,1

In [104]:
validate_df, validated_conse_instance_df=missing_check_list_df(validated_instance_df)
validate_df

,hotel_id,hotel_name,ota_type,room_id,room_name,booking_date,lead_time,remain,price
26,139,아바니센트럴부산,AGODA,6015,아바니 디럭스 마운틴뷰 트윈룸 (Avani Deluxe Mountain View T...,2022-01-01,0,1,169828
27,139,아바니센트럴부산,AGODA,6016,아바니 디럭스 시티뷰 트윈룸 (Avani Deluxe City View Twin R...,2022-01-01,0,1,169828
28,139,아바니센트럴부산,AGODA,6018,아바니 디럭스 마운틴뷰 킹룸 (Avani Deluxe Mountain View Ki...,2022-01-01,0,1,178766
29,139,아바니센트럴부산,AGODA,6019,아바니 디럭스 시티뷰 킹룸 (Avani Deluxe City View King Room),2022-01-01,0,1,188055
31,139,아바니센트럴부산,AGODA,6022,아바니 주니어룸 (Avani Junior Room),2022-01-01,0,1,223875
...,...,...,...,...,...,...,...,...,...
1118501,139,아바니센트럴부산,BOOKING,42074,디럭스 킹룸 - 도시 전망,2024-03-31,4,1,187000
1118502,139,아바니센트럴부산,BOOKING,42074,디럭스 킹룸 - 도시 전망,2024-03-31,3,1,187000
1118503,139,아바니센트럴부산,BOOKING,42074,디럭스 킹룸 - 도시 전망,2024-03-31,2,1,187000
1118504,139,아바니센트럴부산,BOOKING,42074,디럭스 킹룸 - 도시 전망,2024-03-31,1,1,187000
1118505,139,아바니센트럴부산,BOOKING,42074,디럭스 킹룸 - 도시 전망,2024-03-31,0,1,187000

In [98]:
validate_df.columns

Index(['hotel_id', 'room_id', 'booking_date', 'scanned_date', 'remain',
       'price', 'date_diff', 'scanned_date_date', 'ota_type', 'region',
       'scanned_date_time', 'lead_time', 'hotel_name', 'room_name'],
      dtype='object')

In [108]:
hotel_name = validate_df['hotel_name'].unique()[0]
hotel_name

'아바니센트럴부산'

In [111]:
hotel_name = validate_df['hotel_name'].unique()[0]
room_n=validate_df.room_id.nunique()
validate_df.to_csv(args.output_price_processed+f'{hotel_name}_{room_n}.csv', index=False, encoding='utf-8-sig')

14

In [130]:
def save_hotel_data(df, output_path, encoding='utf-8-sig'):
    
    if df.shape[0] == 0:
        pass
    # 호텔 이름을 데이터프레임에서 추출
    else:
        hotel_name = df['hotel_name'].unique()[0]

        # 방 번호의 고유 개수를 계산
        room_n = df['room_id'].nunique()

        # 파일 이름 설정
        file_name = f"{output_path}{hotel_name}_{room_n}.csv"

        # CSV 파일로 저장
        df.to_csv(file_name, index=False, encoding=encoding)

In [121]:
save_hotel_data(validate_df,args.output_price_processed)

In [127]:
df4=pd.DataFrame()
df4

Empty DataFrame
Columns: []
Index: []

In [128]:
df4.shape[0]

0

In [117]:
validate_df.to_csv(args.output_price_processed+f'{hotel_name}_{room_n}.csv', index=False, encoding='utf-8-sig')

In [198]:
# missing_date 행단위로 펼치기 
df_exploded = explode_dates_and_combine_names(validated_instance_df)
# missing_date 7일 이상 연속되는 경우가 있는지 확인하기 
df_exploded['consecutive'] = df_exploded.groupby('identifier')['missing_date'].transform(check_consecutive_dates)
df_exploded

,hotel_id,hotel_name,room_id,room_name,ota_type,validated,data_coverage,missing_date,identifier,consecutive
7,139,아바니센트럴부산,4062,아바니 디럭스 트윈,GOODCHOICE,Y,78,2022-10-20,아바니센트럴부산_아바니 디럭스 트윈,N
7,139,아바니센트럴부산,4062,아바니 디럭스 트윈,GOODCHOICE,Y,78,2022-12-03,아바니센트럴부산_아바니 디럭스 트윈,N
7,139,아바니센트럴부산,4062,아바니 디럭스 트윈,GOODCHOICE,Y,78,2022-12-17,아바니센트럴부산_아바니 디럭스 트윈,N
7,139,아바니센트럴부산,4062,아바니 디럭스 트윈,GOODCHOICE,Y,78,2022-12-24,아바니센트럴부산_아바니 디럭스 트윈,N
7,139,아바니센트럴부산,4062,아바니 디럭스 트윈,GOODCHOICE,Y,78,2022-12-30,아바니센트럴부산_아바니 디럭스 트윈,N
...,...,...,...,...,...,...,...,...,...,...
45,139,아바니센트럴부산,4076,[2인 조식 패키지] 아바니 스위트,GOODCHOICE,Y,75,2024-03-27,아바니센트럴부산_[2인 조식 패키지] 아바니 스위트,N
45,139,아바니센트럴부산,4076,[2인 조식 패키지] 아바니 스위트,GOODCHOICE,Y,75,2024-03-28,아바니센트럴부산_[2인 조식 패키지] 아바니 스위트,N
45,139,아바니센트럴부산,4076,[2인 조식 패키지] 아바니 스위트,GOODCHOICE,Y,75,2024-03-29,아바니센트럴부산_[2인 조식 패키지] 아바니 스위트,N
45,139,아바니센트럴부산,4076,[2인 조식 패키지] 아바니 스위트,GOODCHOICE,Y,75,2024-03-30,아바니센트럴부산_[2인 조식 패키지] 아바니 스위트,N
45,139,아바니센트럴부산,4076,[2인 조식 패키지] 아바니 스위트,GOODCHOICE,Y,75,2024-03-31,아바니센트럴부산_[2인 조식 패키지] 아바니 스위트,N

In [167]:
validated_conse_instance_df= pd.merge(validated_instance_df,df_exploded[['room_id','consecutive']].drop_duplicates(), how='left', on='room_id')
validated_conse_instance_df=validated_conse_instance_df.query('consecutive=="Y"')
validated_conse_instance_df

,hotel_id,hotel_name,room_id,room_name,ota_type,validated,data_coverage,missing_date,consecutive
12,139,아바니센트럴부산,6015,아바니 디럭스 마운틴뷰 트윈룸 (Avani Deluxe Mountain View T...,AGODA,Y,88,"[2022-10-24, 2022-10-25, 2022-10-26, 2023-06-2...",Y
13,139,아바니센트럴부산,6016,아바니 디럭스 시티뷰 트윈룸 (Avani Deluxe City View Twin R...,AGODA,Y,89,"[2022-10-24, 2022-10-25, 2022-10-26]",Y
14,139,아바니센트럴부산,6018,아바니 디럭스 마운틴뷰 킹룸 (Avani Deluxe Mountain View Ki...,AGODA,Y,81,"[2022-06-27, 2022-06-28, 2022-06-29, 2022-06-3...",Y
15,139,아바니센트럴부산,6019,아바니 디럭스 시티뷰 킹룸 (Avani Deluxe City View King Room),AGODA,Y,78,"[2022-06-27, 2022-06-28, 2022-06-29, 2022-06-3...",Y
16,139,아바니센트럴부산,6022,아바니 주니어룸 (Avani Junior Room),AGODA,Y,94,[],Y
17,139,아바니센트럴부산,6023,아바니 스위트 (Avani Suite),AGODA,Y,94,[],Y
18,139,아바니센트럴부산,6636,아바니 프리미어룸 (Avani Premier Room),AGODA,Y,78,[2022-07-10],Y
19,139,아바니센트럴부산,41928,디럭스 트윈룸 - 산 전망,BOOKING,Y,87,"[2022-10-24, 2022-10-25, 2022-10-26, 2023-06-1...",Y
20,139,아바니센트럴부산,41929,디럭스 트윈룸 - 도시 전망,BOOKING,Y,88,"[2022-10-24, 2022-10-25, 2022-10-26, 2023-06-12]",Y
21,139,아바니센트럴부산,41930,프리미어 더블룸,BOOKING,Y,92,[],Y
22,139,아바니센트럴부산,41931,주니어 스위트룸,BOOKING,Y,94,[],Y
23,139,아바니센트럴부산,41932,스위트룸,BOOKING,Y,94,[],Y
24,139,아바니센트럴부산,42073,디럭스 킹룸 - 산 전망,BOOKING,Y,81,"[2022-06-27, 2022-06-28, 2022-06-29, 2022-06-3...",Y
25,139,아바니센트럴부산,42074,디럭스 킹룸 - 도시 전망,BOOKING,Y,77,"[2022-06-27, 2022-06-28, 2022-06-29, 2022-06-3...",Y

In [260]:
# 유효 인스터스만 남기기
validate_df=filtered_df[filtered_df['room_id'].isin(validated_conse_instance_df['room_id'].unique())]
validate_df

,hotel_id,room_id,booking_date,scanned_date,remain,price,date_diff,scanned_date_date,ota_type,region,scanned_date_time,lead_time,hotel_name,room_name
26,139,6015,2022-01-01,2022-01-01 23:00:00,1,169828,-1 days +01:00:00,2022-01-01,AGODA,부산,23:00:00,0,아바니센트럴부산,아바니 디럭스 마운틴뷰 트윈룸 (Avani Deluxe Mountain View T...
27,139,6016,2022-01-01,2022-01-01 23:00:00,1,169828,-1 days +01:00:00,2022-01-01,AGODA,부산,23:00:00,0,아바니센트럴부산,아바니 디럭스 시티뷰 트윈룸 (Avani Deluxe City View Twin R...
28,139,6018,2022-01-01,2022-01-01 23:00:00,1,178766,-1 days +01:00:00,2022-01-01,AGODA,부산,23:00:00,0,아바니센트럴부산,아바니 디럭스 마운틴뷰 킹룸 (Avani Deluxe Mountain View Ki...
29,139,6019,2022-01-01,2022-01-01 23:00:00,1,188055,-1 days +01:00:00,2022-01-01,AGODA,부산,23:00:00,0,아바니센트럴부산,아바니 디럭스 시티뷰 킹룸 (Avani Deluxe City View King Room)
31,139,6022,2022-01-01,2022-01-01 23:00:00,1,223875,-1 days +01:00:00,2022-01-01,AGODA,부산,23:00:00,0,아바니센트럴부산,아바니 주니어룸 (Avani Junior Room)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1118501,139,42074,2024-03-31,2024-03-27 23:00:00,1,187000,3 days 01:00:00,2024-03-27,BOOKING,부산,23:00:00,4,아바니센트럴부산,디럭스 킹룸 - 도시 전망
1118502,139,42074,2024-03-31,2024-03-28 23:00:00,1,187000,2 days 01:00:00,2024-03-28,BOOKING,부산,23:00:00,3,아바니센트럴부산,디럭스 킹룸 - 도시 전망
1118503,139,42074,2024-03-31,2024-03-29 23:00:00,1,187000,1 days 01:00:00,2024-03-29,BOOKING,부산,23:00:00,2,아바니센트럴부산,디럭스 킹룸 - 도시 전망
1118504,139,42074,2024-03-31,2024-03-30 23:00:00,1,187000,0 days 01:00:00,2024-03-30,BOOKING,부산,23:00:00,1,아바니센트럴부산,디럭스 킹룸 - 도시 전망
1118505,139,42074,2024-03-31,2024-03-31 23:00:00,1,187000,-1 days +01:00:00,2024-03-31,BOOKING,부산,23:00:00,0,아바니센트럴부산,디럭스 킹룸 - 도시 전망

## 결측값 보강

* 북킹데이트 기준으로 누락값이 없는 인스턴스 먼저 보강을 한다
* 이 경우는 특정 북킹날짜에 적어도 하나의 리드타임에는 가격을 보유한 경우를 말한다
* 예를들어 2023-01-02 , 숙박 예정일이였고 , 이 데이터를 확인했을때를 기준으로 D-1, D-2 ...D-29,D-30  등 30개의 데이터가 존재하는데 
* 이중에서 단 하나라도 있는것들 위주로 이 값을 기준으로  결측값을 보강한뒤
* 이후에 하나도 없는것은 back fill로 보강한다 전날또는 그다음날 데이터

In [169]:
# 공휴일 데이터 로드
holiday=pd.read_csv(args.raw_data+"/holiday_calender_2022_2024.csv")
holiday

            date day_of_week dateName high_demand
0     2022-01-01    Saturday     1월1일           Y
1     2022-01-02      Sunday        N           N
2     2022-01-03      Monday        N           N
3     2022-01-04     Tuesday        N           N
4     2022-01-05   Wednesday        N           N
...          ...         ...      ...         ...
1091  2024-12-27      Friday        N           Y
1092  2024-12-28    Saturday        N           Y
1093  2024-12-29      Sunday        N           N
1094  2024-12-30      Monday        N           N
1095  2024-12-31     Tuesday        N           N

[1096 rows x 4 columns]

In [261]:
# 데이터 결합 
validate_df=pd.merge(validate_df,holiday, how='inner', left_on='booking_date', right_on='date')
validate_df=validate_df[['room_id','hotel_name','hotel_id','room_name','ota_type','booking_date','lead_time','scanned_date_time','high_demand','dateName','day_of_week','remain','price']]
validate_df

,room_id,hotel_name,hotel_id,room_name,ota_type,booking_date,lead_time,scanned_date_time,high_demand,dateName,day_of_week,remain,price
0,6015,아바니센트럴부산,139,아바니 디럭스 마운틴뷰 트윈룸 (Avani Deluxe Mountain View T...,AGODA,2022-01-01,0,23:00:00,Y,1월1일,Saturday,1,169828
1,6016,아바니센트럴부산,139,아바니 디럭스 시티뷰 트윈룸 (Avani Deluxe City View Twin R...,AGODA,2022-01-01,0,23:00:00,Y,1월1일,Saturday,1,169828
2,6018,아바니센트럴부산,139,아바니 디럭스 마운틴뷰 킹룸 (Avani Deluxe Mountain View Ki...,AGODA,2022-01-01,0,23:00:00,Y,1월1일,Saturday,1,178766
3,6019,아바니센트럴부산,139,아바니 디럭스 시티뷰 킹룸 (Avani Deluxe City View King Room),AGODA,2022-01-01,0,23:00:00,Y,1월1일,Saturday,1,188055
4,6022,아바니센트럴부산,139,아바니 주니어룸 (Avani Junior Room),AGODA,2022-01-01,0,23:00:00,Y,1월1일,Saturday,1,223875
...,...,...,...,...,...,...,...,...,...,...,...,...,...
319300,42074,아바니센트럴부산,139,디럭스 킹룸 - 도시 전망,BOOKING,2024-03-31,4,23:00:00,N,N,Sunday,1,187000
319301,42074,아바니센트럴부산,139,디럭스 킹룸 - 도시 전망,BOOKING,2024-03-31,3,23:00:00,N,N,Sunday,1,187000
319302,42074,아바니센트럴부산,139,디럭스 킹룸 - 도시 전망,BOOKING,2024-03-31,2,23:00:00,N,N,Sunday,1,187000
319303,42074,아바니센트럴부산,139,디럭스 킹룸 - 도시 전망,BOOKING,2024-03-31,1,23:00:00,N,N,Sunday,1,187000
319304,42074,아바니센트럴부산,139,디럭스 킹룸 - 도시 전망,BOOKING,2024-03-31,0,23:00:00,N,N,Sunday,1,187000

In [275]:
# 리드타임 생성
all_lead_times = np.arange(32)

# 각 그룹 처리를 위한 함수
def ensure_full_lead_times(group):
    existing_lead_times = group['lead_time'].unique()
    missing_lead_times = np.setdiff1d(all_lead_times, existing_lead_times)
    # 누락된 행을 위한 DataFrame 생성
    missing_rows = []
    for lead_time in missing_lead_times:
        missing_rows.append({
            'room_id': group['room_id'].iloc[0],
            'hotel_id': group['hotel_id'].iloc[0],
            'hotel_name': group['hotel_name'].iloc[0],
            'room_name': group['room_name'].iloc[0],
            'ota_type': group['ota_type'].iloc[0],
            'booking_date': group['booking_date'].iloc[0],  # booking_date를 복사
            'lead_time': lead_time,
            'scanned_date_time': "23:00:00",
            'high_demand': group['high_demand'].iloc[0],  # 기존 값 복사
            'dateName': group['dateName'].iloc[0],  # 기존 값 복사
            'day_of_week': group['day_of_week'].iloc[0],  # 기존 값 복사
            'remain': 1,
            'price': 0
        })
    if missing_rows:  # 누락된 행이 있을 경우에만 추가
        group = pd.concat([group, pd.DataFrame(missing_rows)], ignore_index=True)
    return group

# room_id도 포함하여 그룹화 및 함수 적용
result_df = validate_df.groupby(['room_id', 'hotel_name','hotel_id', 'room_name', 'ota_type', 'booking_date']).apply(ensure_full_lead_times).reset_index(drop=True)
result_df

,room_id,hotel_name,hotel_id,room_name,ota_type,booking_date,lead_time,scanned_date_time,high_demand,dateName,day_of_week,remain,price
0,6015,아바니센트럴부산,139,아바니 디럭스 마운틴뷰 트윈룸 (Avani Deluxe Mountain View T...,AGODA,2022-01-01,0,23:00:00,Y,1월1일,Saturday,1,169828
1,6015,아바니센트럴부산,139,아바니 디럭스 마운틴뷰 트윈룸 (Avani Deluxe Mountain View T...,AGODA,2022-01-01,1,23:00:00,Y,1월1일,Saturday,1,0
2,6015,아바니센트럴부산,139,아바니 디럭스 마운틴뷰 트윈룸 (Avani Deluxe Mountain View T...,AGODA,2022-01-01,2,23:00:00,Y,1월1일,Saturday,1,0
3,6015,아바니센트럴부산,139,아바니 디럭스 마운틴뷰 트윈룸 (Avani Deluxe Mountain View T...,AGODA,2022-01-01,3,23:00:00,Y,1월1일,Saturday,1,0
4,6015,아바니센트럴부산,139,아바니 디럭스 마운틴뷰 트윈룸 (Avani Deluxe Mountain View T...,AGODA,2022-01-01,4,23:00:00,Y,1월1일,Saturday,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
365440,42074,아바니센트럴부산,139,디럭스 킹룸 - 도시 전망,BOOKING,2024-03-31,3,23:00:00,N,N,Sunday,1,187000
365441,42074,아바니센트럴부산,139,디럭스 킹룸 - 도시 전망,BOOKING,2024-03-31,2,23:00:00,N,N,Sunday,1,187000
365442,42074,아바니센트럴부산,139,디럭스 킹룸 - 도시 전망,BOOKING,2024-03-31,1,23:00:00,N,N,Sunday,1,187000
365443,42074,아바니센트럴부산,139,디럭스 킹룸 - 도시 전망,BOOKING,2024-03-31,0,23:00:00,N,N,Sunday,1,187000
365444,42074,아바니센트럴부산,139,디럭스 킹룸 - 도시 전망,BOOKING,2024-03-31,21,23:00:00,N,N,Sunday,1,0

In [276]:
result_df['booking_date'] = pd.to_datetime(result_df['booking_date'])
result_df

,room_id,hotel_name,hotel_id,room_name,ota_type,booking_date,lead_time,scanned_date_time,high_demand,dateName,day_of_week,remain,price
0,6015,아바니센트럴부산,139,아바니 디럭스 마운틴뷰 트윈룸 (Avani Deluxe Mountain View T...,AGODA,2022-01-01,0,23:00:00,Y,1월1일,Saturday,1,169828
1,6015,아바니센트럴부산,139,아바니 디럭스 마운틴뷰 트윈룸 (Avani Deluxe Mountain View T...,AGODA,2022-01-01,1,23:00:00,Y,1월1일,Saturday,1,0
2,6015,아바니센트럴부산,139,아바니 디럭스 마운틴뷰 트윈룸 (Avani Deluxe Mountain View T...,AGODA,2022-01-01,2,23:00:00,Y,1월1일,Saturday,1,0
3,6015,아바니센트럴부산,139,아바니 디럭스 마운틴뷰 트윈룸 (Avani Deluxe Mountain View T...,AGODA,2022-01-01,3,23:00:00,Y,1월1일,Saturday,1,0
4,6015,아바니센트럴부산,139,아바니 디럭스 마운틴뷰 트윈룸 (Avani Deluxe Mountain View T...,AGODA,2022-01-01,4,23:00:00,Y,1월1일,Saturday,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
365440,42074,아바니센트럴부산,139,디럭스 킹룸 - 도시 전망,BOOKING,2024-03-31,3,23:00:00,N,N,Sunday,1,187000
365441,42074,아바니센트럴부산,139,디럭스 킹룸 - 도시 전망,BOOKING,2024-03-31,2,23:00:00,N,N,Sunday,1,187000
365442,42074,아바니센트럴부산,139,디럭스 킹룸 - 도시 전망,BOOKING,2024-03-31,1,23:00:00,N,N,Sunday,1,187000
365443,42074,아바니센트럴부산,139,디럭스 킹룸 - 도시 전망,BOOKING,2024-03-31,0,23:00:00,N,N,Sunday,1,187000
365444,42074,아바니센트럴부산,139,디럭스 킹룸 - 도시 전망,BOOKING,2024-03-31,21,23:00:00,N,N,Sunday,1,0

In [277]:
# booking_date를 인덱스로 설정하지 않고 다중 인덱스로 처리
result_df.set_index(['room_id', 'booking_date'], inplace=True)

# pivot_table을 사용하여 room_id와 booking_date 별 리드타임에 따른 가격을 칼럼화
# 결측값은 0으로 채움
pivot_df = result_df.pivot_table(index=['room_id', 'booking_date'], columns='lead_time', values='price', fill_value=0)
pivot_df.reset_index(inplace=True)
pivot_df

lead_time,room_id,booking_date,0,1,2,3,4,5,6,7,...,22,23,24,25,26,27,28,29,30,31
0,6015,2022-01-01,169828,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,6015,2022-01-02,124246,114455,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6015,2022-01-03,126923,126923,116207,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,6015,2022-01-04,124933,122804,123127,114455,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,6015,2022-01-05,127161,126049,124683,126923,116207,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11415,42074,2024-03-27,0,165000,0,0,0,0,165000,156750,...,149380,126973,149380,149380,149380,149380,126973,149380,124355,146300
11416,42074,2024-03-28,0,0,0,0,0,0,0,181390,...,145112,170720,145112,170720,170720,170720,145112,145112,167200,142120
11417,42074,2024-03-29,220000,0,0,0,0,0,0,0,...,198550,172320,202730,202730,202730,202730,202730,172320,198550,198550
11418,42074,2024-03-30,0,231000,0,0,0,231000,0,0,...,0,0,0,0,0,0,0,0,0,0
11419,42074,2024-03-31,187000,187000,187000,187000,187000,187000,187000,181390,...,167200,145112,167200,145112,170720,170720,170720,170720,167200,142120

In [279]:
result_meta=result_df.drop(columns=['price','lead_time','remain','scanned_date_time'])
result_meta.reset_index(inplace=True)
result_meta=result_meta.drop_duplicates()
result_meta

,room_id,booking_date,hotel_name,hotel_id,room_name,ota_type,high_demand,dateName,day_of_week
0,6015,2022-01-01,아바니센트럴부산,139,아바니 디럭스 마운틴뷰 트윈룸 (Avani Deluxe Mountain View T...,AGODA,Y,1월1일,Saturday
32,6015,2022-01-02,아바니센트럴부산,139,아바니 디럭스 마운틴뷰 트윈룸 (Avani Deluxe Mountain View T...,AGODA,N,N,Sunday
64,6015,2022-01-03,아바니센트럴부산,139,아바니 디럭스 마운틴뷰 트윈룸 (Avani Deluxe Mountain View T...,AGODA,N,N,Monday
96,6015,2022-01-04,아바니센트럴부산,139,아바니 디럭스 마운틴뷰 트윈룸 (Avani Deluxe Mountain View T...,AGODA,N,N,Tuesday
128,6015,2022-01-05,아바니센트럴부산,139,아바니 디럭스 마운틴뷰 트윈룸 (Avani Deluxe Mountain View T...,AGODA,N,N,Wednesday
...,...,...,...,...,...,...,...,...,...
365285,42074,2024-03-27,아바니센트럴부산,139,디럭스 킹룸 - 도시 전망,BOOKING,N,N,Wednesday
365317,42074,2024-03-28,아바니센트럴부산,139,디럭스 킹룸 - 도시 전망,BOOKING,N,N,Thursday
365349,42074,2024-03-29,아바니센트럴부산,139,디럭스 킹룸 - 도시 전망,BOOKING,Y,N,Friday
365381,42074,2024-03-30,아바니센트럴부산,139,디럭스 킹룸 - 도시 전망,BOOKING,Y,N,Saturday
365413,42074,2024-03-31,아바니센트럴부산,139,디럭스 킹룸 - 도시 전망,BOOKING,N,N,Sunday

In [280]:
result_final=result_meta.merge(pivot_df, how='left', on=['room_id','booking_date'])
result_final

,room_id,booking_date,hotel_name,hotel_id,room_name,ota_type,high_demand,dateName,day_of_week,0,...,22,23,24,25,26,27,28,29,30,31
0,6015,2022-01-01,아바니센트럴부산,139,아바니 디럭스 마운틴뷰 트윈룸 (Avani Deluxe Mountain View T...,AGODA,Y,1월1일,Saturday,169828,...,0,0,0,0,0,0,0,0,0,0
1,6015,2022-01-02,아바니센트럴부산,139,아바니 디럭스 마운틴뷰 트윈룸 (Avani Deluxe Mountain View T...,AGODA,N,N,Sunday,124246,...,0,0,0,0,0,0,0,0,0,0
2,6015,2022-01-03,아바니센트럴부산,139,아바니 디럭스 마운틴뷰 트윈룸 (Avani Deluxe Mountain View T...,AGODA,N,N,Monday,126923,...,0,0,0,0,0,0,0,0,0,0
3,6015,2022-01-04,아바니센트럴부산,139,아바니 디럭스 마운틴뷰 트윈룸 (Avani Deluxe Mountain View T...,AGODA,N,N,Tuesday,124933,...,0,0,0,0,0,0,0,0,0,0
4,6015,2022-01-05,아바니센트럴부산,139,아바니 디럭스 마운틴뷰 트윈룸 (Avani Deluxe Mountain View T...,AGODA,N,N,Wednesday,127161,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11415,42074,2024-03-27,아바니센트럴부산,139,디럭스 킹룸 - 도시 전망,BOOKING,N,N,Wednesday,0,...,149380,126973,149380,149380,149380,149380,126973,149380,124355,146300
11416,42074,2024-03-28,아바니센트럴부산,139,디럭스 킹룸 - 도시 전망,BOOKING,N,N,Thursday,0,...,145112,170720,145112,170720,170720,170720,145112,145112,167200,142120
11417,42074,2024-03-29,아바니센트럴부산,139,디럭스 킹룸 - 도시 전망,BOOKING,Y,N,Friday,220000,...,198550,172320,202730,202730,202730,202730,202730,172320,198550,198550
11418,42074,2024-03-30,아바니센트럴부산,139,디럭스 킹룸 - 도시 전망,BOOKING,Y,N,Saturday,0,...,0,0,0,0,0,0,0,0,0,0
11419,42074,2024-03-31,아바니센트럴부산,139,디럭스 킹룸 - 도시 전망,BOOKING,N,N,Sunday,187000,...,167200,145112,167200,145112,170720,170720,170720,170720,167200,142120

In [281]:
result_final.replace(0, np.nan, inplace=True)
result_final=result_final.drop([30,31], axis=1)
result_final.isnull().sum()

 room_id            0
 booking_date       0
 hotel_name         0
 hotel_id           0
 room_name          0
 ota_type           0
 high_demand        0
 dateName           0
 day_of_week        0
0                1696
1                1700
2                1713
3                1683
4                1638
5                1603
6                1576
7                1562
8                1564
9                1529
10               1514
11               1482
12               1465
13               1477
14               1447
15               1411
16               1381
17               1399
18               1377
19               1380
20               1381
21               1318
22               1294
23               1271
24               1266
25               1269
26               1279
27               1301
28               1291
29               1321
dtype: int64

In [282]:
# 숫자형 열 이름 지정
price_columns = [i for i in range(30)]  # 0부터 15까지

# 가격 정보 열에 대해서만 fillna를 적용
result_final[price_columns] = result_final[price_columns].apply(lambda row: row.fillna(method='bfill').fillna(method='ffill'), axis=1)

result_final

,room_id,booking_date,hotel_name,hotel_id,room_name,ota_type,high_demand,dateName,day_of_week,0,...,20,21,22,23,24,25,26,27,28,29
0,6015,2022-01-01,아바니센트럴부산,139,아바니 디럭스 마운틴뷰 트윈룸 (Avani Deluxe Mountain View T...,AGODA,Y,1월1일,Saturday,169828,...,169828,169828,169828,169828,169828,169828,169828,169828,169828,169828
1,6015,2022-01-02,아바니센트럴부산,139,아바니 디럭스 마운틴뷰 트윈룸 (Avani Deluxe Mountain View T...,AGODA,N,N,Sunday,124246,...,114455,114455,114455,114455,114455,114455,114455,114455,114455,114455
2,6015,2022-01-03,아바니센트럴부산,139,아바니 디럭스 마운틴뷰 트윈룸 (Avani Deluxe Mountain View T...,AGODA,N,N,Monday,126923,...,116207,116207,116207,116207,116207,116207,116207,116207,116207,116207
3,6015,2022-01-04,아바니센트럴부산,139,아바니 디럭스 마운틴뷰 트윈룸 (Avani Deluxe Mountain View T...,AGODA,N,N,Tuesday,124933,...,114455,114455,114455,114455,114455,114455,114455,114455,114455,114455
4,6015,2022-01-05,아바니센트럴부산,139,아바니 디럭스 마운틴뷰 트윈룸 (Avani Deluxe Mountain View T...,AGODA,N,N,Wednesday,127161,...,116207,116207,116207,116207,116207,116207,116207,116207,116207,116207
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11415,42074,2024-03-27,아바니센트럴부산,139,디럭스 킹룸 - 도시 전망,BOOKING,N,N,Wednesday,165000,...,126973,126973,149380,126973,149380,149380,149380,149380,126973,149380
11416,42074,2024-03-28,아바니센트럴부산,139,디럭스 킹룸 - 도시 전망,BOOKING,N,N,Thursday,181390,...,145112,145112,145112,170720,145112,170720,170720,170720,145112,145112
11417,42074,2024-03-29,아바니센트럴부산,139,디럭스 킹룸 - 도시 전망,BOOKING,Y,N,Friday,220000,...,198550,172320,198550,172320,202730,202730,202730,202730,202730,172320
11418,42074,2024-03-30,아바니센트럴부산,139,디럭스 킹룸 - 도시 전망,BOOKING,Y,N,Saturday,231000,...,231000,231000,231000,231000,231000,231000,231000,231000,231000,231000
11419,42074,2024-03-31,아바니센트럴부산,139,디럭스 킹룸 - 도시 전망,BOOKING,N,N,Sunday,187000,...,154182,167200,167200,145112,167200,145112,170720,170720,170720,170720

In [283]:
result_final.columns = ['price_' + str(int(col)) if isinstance(col, float) and col.is_integer() else col for col in result_final.columns]
result_final

,room_id,booking_date,hotel_name,hotel_id,room_name,ota_type,high_demand,dateName,day_of_week,price_0,...,price_20,price_21,price_22,price_23,price_24,price_25,price_26,price_27,price_28,price_29
0,6015,2022-01-01,아바니센트럴부산,139,아바니 디럭스 마운틴뷰 트윈룸 (Avani Deluxe Mountain View T...,AGODA,Y,1월1일,Saturday,169828,...,169828,169828,169828,169828,169828,169828,169828,169828,169828,169828
1,6015,2022-01-02,아바니센트럴부산,139,아바니 디럭스 마운틴뷰 트윈룸 (Avani Deluxe Mountain View T...,AGODA,N,N,Sunday,124246,...,114455,114455,114455,114455,114455,114455,114455,114455,114455,114455
2,6015,2022-01-03,아바니센트럴부산,139,아바니 디럭스 마운틴뷰 트윈룸 (Avani Deluxe Mountain View T...,AGODA,N,N,Monday,126923,...,116207,116207,116207,116207,116207,116207,116207,116207,116207,116207
3,6015,2022-01-04,아바니센트럴부산,139,아바니 디럭스 마운틴뷰 트윈룸 (Avani Deluxe Mountain View T...,AGODA,N,N,Tuesday,124933,...,114455,114455,114455,114455,114455,114455,114455,114455,114455,114455
4,6015,2022-01-05,아바니센트럴부산,139,아바니 디럭스 마운틴뷰 트윈룸 (Avani Deluxe Mountain View T...,AGODA,N,N,Wednesday,127161,...,116207,116207,116207,116207,116207,116207,116207,116207,116207,116207
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11415,42074,2024-03-27,아바니센트럴부산,139,디럭스 킹룸 - 도시 전망,BOOKING,N,N,Wednesday,165000,...,126973,126973,149380,126973,149380,149380,149380,149380,126973,149380
11416,42074,2024-03-28,아바니센트럴부산,139,디럭스 킹룸 - 도시 전망,BOOKING,N,N,Thursday,181390,...,145112,145112,145112,170720,145112,170720,170720,170720,145112,145112
11417,42074,2024-03-29,아바니센트럴부산,139,디럭스 킹룸 - 도시 전망,BOOKING,Y,N,Friday,220000,...,198550,172320,198550,172320,202730,202730,202730,202730,202730,172320
11418,42074,2024-03-30,아바니센트럴부산,139,디럭스 킹룸 - 도시 전망,BOOKING,Y,N,Saturday,231000,...,231000,231000,231000,231000,231000,231000,231000,231000,231000,231000
11419,42074,2024-03-31,아바니센트럴부산,139,디럭스 킹룸 - 도시 전망,BOOKING,N,N,Sunday,187000,...,154182,167200,167200,145112,167200,145112,170720,170720,170720,170720

In [284]:
result_final=result_final[['room_id','booking_date','hotel_id', 'hotel_name', 'room_name', 'ota_type', 'price_0', 'price_1',
       'price_2', 'price_3', 'price_4', 'price_5', 'price_6', 'price_7',
       'price_8', 'price_9', 'price_10', 'price_11', 'price_12', 'price_13',
       'price_14', 'price_15', 'price_16', 'price_17', 'price_18', 'price_19',
       'price_20', 'price_21', 'price_22', 'price_23', 'price_24', 'price_25',
       'price_26', 'price_27', 'price_28', 'price_29']]
result_final

,room_id,booking_date,hotel_id,hotel_name,room_name,ota_type,price_0,price_1,price_2,price_3,...,price_20,price_21,price_22,price_23,price_24,price_25,price_26,price_27,price_28,price_29
0,6015,2022-01-01,139,아바니센트럴부산,아바니 디럭스 마운틴뷰 트윈룸 (Avani Deluxe Mountain View T...,AGODA,169828,169828,169828,169828,...,169828,169828,169828,169828,169828,169828,169828,169828,169828,169828
1,6015,2022-01-02,139,아바니센트럴부산,아바니 디럭스 마운틴뷰 트윈룸 (Avani Deluxe Mountain View T...,AGODA,124246,114455,114455,114455,...,114455,114455,114455,114455,114455,114455,114455,114455,114455,114455
2,6015,2022-01-03,139,아바니센트럴부산,아바니 디럭스 마운틴뷰 트윈룸 (Avani Deluxe Mountain View T...,AGODA,126923,126923,116207,116207,...,116207,116207,116207,116207,116207,116207,116207,116207,116207,116207
3,6015,2022-01-04,139,아바니센트럴부산,아바니 디럭스 마운틴뷰 트윈룸 (Avani Deluxe Mountain View T...,AGODA,124933,122804,123127,114455,...,114455,114455,114455,114455,114455,114455,114455,114455,114455,114455
4,6015,2022-01-05,139,아바니센트럴부산,아바니 디럭스 마운틴뷰 트윈룸 (Avani Deluxe Mountain View T...,AGODA,127161,126049,124683,126923,...,116207,116207,116207,116207,116207,116207,116207,116207,116207,116207
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11415,42074,2024-03-27,139,아바니센트럴부산,디럭스 킹룸 - 도시 전망,BOOKING,165000,165000,165000,165000,...,126973,126973,149380,126973,149380,149380,149380,149380,126973,149380
11416,42074,2024-03-28,139,아바니센트럴부산,디럭스 킹룸 - 도시 전망,BOOKING,181390,181390,181390,181390,...,145112,145112,145112,170720,145112,170720,170720,170720,145112,145112
11417,42074,2024-03-29,139,아바니센트럴부산,디럭스 킹룸 - 도시 전망,BOOKING,220000,209000,209000,209000,...,198550,172320,198550,172320,202730,202730,202730,202730,202730,172320
11418,42074,2024-03-30,139,아바니센트럴부산,디럭스 킹룸 - 도시 전망,BOOKING,231000,231000,231000,231000,...,231000,231000,231000,231000,231000,231000,231000,231000,231000,231000
11419,42074,2024-03-31,139,아바니센트럴부산,디럭스 킹룸 - 도시 전망,BOOKING,187000,187000,187000,187000,...,154182,167200,167200,145112,167200,145112,170720,170720,170720,170720